---
title: "Aromatherapy Treatments"
description: "A natural way of healing your mind, body and soul."
heading: "Aromatherapy Treatments"
layout: "page"
---

<!-- <div class="container col-xxl-10 px-4 py-5 d-none">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-5">
      <h1 class="display-4 fw-bold mb-3">Live <span class="text-gold">healthier</span> and be <span class="text-gold">happier.</span></h1>
      <p class="lead">Our aromatherapy treatments are a natural way of healing a person's mind, body and soil.</p>
		<p class="lead"></p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-gold  me-md-2">Book a treatment</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Download Brochure</button>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="container col-xl-10 col-xxl-8 px-4 py-5 d-none">
<div class="row flex-lg-row-reverse align-items-center g-5 pb-4">
	<div class="col">
		<h1>Treatment list</h1>
	</div>
	</div>
<div class="row flex-lg-row-reverse align-items-center g-5">
	<div class="col">
		<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button lead btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Custom Head-to-Toe Aromatherapy Massage
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body pb-5">
        <p class="pe-lg-5">A head-to-toe, custom aromatherapy massage performed with a luxury, bespoke blend of aromatherapy oils at maximum strength.</p>
		  <p class="pe-lg-5">This massage treatment includes an in-depth consultation and can target more than one ailment per treatment as each oil or massage medium is blended fresh for every treatment and also includes a facial massage and head massage where necessary.</p>
<p class=""> Investment: £175 per treatment</p>
				  <p> Length: 90 minutes + 30 minute consultation and prep.</p>
		  <a href="#" class="btn btn-dark">Book</a>
		  <a href="#" class="btn btn-outline-dark ">Buy as a gift</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed lead btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Problem-targeted Aromatherapy Massage
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body pb-5">
		  <ul class="list-inline d-flex align-items-center mb-3 border-bottom">
			  <li class="list-inline-item ">
				  <p class=""><i class="far fa-tag text-gold fa-fw"></i> Investment: £95 per treatment</p>
				  <p><i class="far fa-clock text-gold fa-fw"></i> Length: 60 minutes + 15 minute consultation and prep.</p>
			  </li>
<li class="list-inline-item ms-auto d-none"><a href="#" class="btn btn-dark ">Book</a></li>
		  </ul>
		  <p class="col-lg-10">A aromatherapy body massage that utilises a fixed routine and one of our in-house pre-blended aromathearpy oils targeted towards specific problems. </p>
		  <p class="pe-lg-5">Choose from one of our in-house pre-blended aromatherapy oils:</p>
		  <ol class="list-group list-group-numbered pb-5">
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0">
				  <div class="ms-2 me-auto">
					  <div class="fw-bold">Deeply Relaxing Blend</div>
					  A blend of A, B and C
				  </div>
</li>
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0">
				  <div class="ms-2 me-auto">
					  <div class="fw-bold">Sleep enhancing blend</div>
					  A blend of ab and c
				  </div>
</li>
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0">
				  <div class="ms-2 me-auto">
					  <div class="fw-bold">Anxiety easing blend</div>
					  includes a b and c
				  </div>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0 bg-transparent">
				  <div class="ms-2 me-auto">
					  <div class="fw-bold">Muscle teension blend</div>
					  includes a b and c
				  </div>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0">
				  <div class="ms-2 me-auto">
					  <div class="fw-bold">Energising blend</div>
					  includes a b and c
				  </div>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0">
				  <div class="ms-2 me-auto">
					  <div class="fw-bold">Detox blend</div>
					  includes a b and c
				  </div>
			  </li>
		  </ol>
</div>
    </div>
  </div>
  <div class="accordion-item ">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button lead collapsed btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Custom Body Polish Package
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body pb-5">
        <p>The HUMOS custom body polish backage beings wiht a body brushing session to help boost circulation and prep your skin for the custom aromatherapy scrub, which is blended just for you, that follows.</p>
		  <p>You'll then experience our aromatherapy body mask or wrap, depending on which skin concerns your custom package is targeted towards, before finishing with a luxury, custom aromatherapy body moisturiser which helps to replenish your skin and lock in the benefits of the treatment.</p>
<p class=""><i class="far fa-tag text-gold fa-fw"></i> Investment: £125 per treatment</p>
				  <p><i class="far fa-clock text-gold fa-fw"></i> Length: 80 minutes + 15 minute consultation and prep.</p>
		  <a href="#" class="btn btn-dark">Book</a>
		  <a href="#" class="btn btn-outline-dark ">Buy as a gift</a>
</div>
    </div>
  </div>
			
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button lead collapsed btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Salt and Oil Aromatherapy Scrub
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body pb-5">
		  <p>This exceptional skin softening body exfoliation combines a blend of dea salts with pure essential oils and base oils to leave your skin feeling nourished, smooth and supple.</p>
		  <p class=""><i class="far fa-tag text-gold fa-fw"></i> Investment: £60 per treatment</p>
		  <p><i class="far fa-clock text-gold fa-fw"></i> Length: 30 minutes + 30 minute consultation and prep.</p>
		  <a href="#" class="btn btn-dark">Book</a>
		  <a href="#" class="btn btn-outline-dark ">Buy as a gift</a>
</div>
    </div>
  </div>	
			
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button lead collapsed btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Bespoke Aromatherapy Facial with Customised Facial Massage
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body pb-5">
		  <p>An aromatherapy facial treatment performed with a bespoke range of aromatherapy skin-care products which are blended specifically for your skin prior to your treatment.</p>
		  <p>This bespoke aromatherapy facial includes a customised facial massage that draws from a range of techniques including manual drainage, holistic and  lifting techniques to help target fine lines and wrinkles and to boost circulation</p>
		  <p class=""><i class="far fa-tag text-gold fa-fw"></i> Investment: £1654 per treatment</p>
		  <p><i class="far fa-clock text-gold fa-fw"></i> Length: 90 minutes + 20 minute consultation and prep.</p>
		  <a href="#" class="btn btn-dark">Book</a>
		  <a href="#" class="btn btn-outline-dark ">Buy as a gift</a>
</div>
    </div>
  </div>	
</div>
	</div>
</div>	
</div> -->



   <!-- Hero Section -->
<div class="container space-top-1 space-top-lg-2 space-bottom-lg-2 space-bottom-2">
 <!-- Title -->
<div class="w-lg-65 text-center mx-lg-auto mb-5 mb-md-9">
        <h1>add title</h1>
		  <p class="lead">add description</p>
      </div>
      <!-- End Title -->
    </div>

 <!-- Divider -->
<div class="container">
      <div class="w-lg-65 mx-lg-auto">
        <hr class="my-0">
      </div>
    </div>
 <!-- end Divider -->
<div class="container space-top-1 space-top-lg-2 space-bottom-lg-2 space-bottom-2">
<!-- Product Review Section -->
<div class="container space-2">
  <div class="row justify-content-lg-between align-items-lg-center">
    <div class="col-lg-5 space-1 space-lg-2 order-2 order-lg-1">
       <h3 class="mb-4">Custom Head-to-Toe Aromatherapy Massage</h3>
<p>A head-to-toe, custom aromatherapy massage performed with a luxury, bespoke blend of aromatherapy oils at maximum strength. Treatment also includes a facial massage and head massage where necessary.</p>
		<p>This massage treatment includes an in-depth consultation and can target more than one ailment per treatment as each oil or massage medium is blended fresh for every treatment.</p>
<p class=""><i class="far fa-tag text-gold fa-fw"></i> Investment: £175 per treatment</p>
				  <p><i class="far fa-clock text-gold fa-fw"></i> Length: 90 minutes + 30 minute consultation and prep.</p>
		  <a href="#" class="btn btn-outline-gold me-2">Book</a>
		  <a href="#" class="btn btn-outline-gold ">Buy as a gift</a>
</div>
<div class="col-lg-6 order-1 order-lg-2">
      <div class="bg-img-hero-center h-100 min-h-650rem rounded-4" style="background-image: url( images/aromatherapy-massage-in-reading-woman.jpg);"></div>
    </div>
  </div>
</div>


<div class="bg-gold">

<div class="container">
  <div class="row justify-content-lg-between align-items-lg-center space-1 space-lg-2">
    <div class="col-lg-6 order-lg-2 space-1 space-lg-2 order-2 order-lg-1">
      <h3 class="mb-4">Problem-targeted Aromatherapy Massage</h3>
      <p class="col-lg-10">A aromatherapy body massage that utilises a fixed routine and one of our in-house pre-blended aromathearpy oils targeted towards specific problems. </p>
		  <p class="pe-lg-5">Choose from one of our in-house pre-blended aromatherapy oils:</p>
		  <ol class="list-group list-group-numbered pb-5">
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0 bg-transparent">
				  <div class="ms-2 me-auto">
					  <div class="">Deeply Relaxing Blend</div>
</div>
</li>
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0 bg-transparent">
				  <div class="ms-2 me-auto">
					  <div class="">Sleep enhancing blend</div>
</div>
</li>
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0 bg-transparent">
				  <div class="ms-2 me-auto">
					  <div class="">Anxiety easing blend</div>
					
</div>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0 bg-transparent">
				  <div class="ms-2 me-auto">
					  <div class="">Muscle teension blend</div>
				
</div>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0 bg-transparent">
				  <div class="ms-2 me-auto">
					  <div class="">Energising blend</div>
					  
</div>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0 bg-transparent">
				  <div class="ms-2 me-auto">
					  <div class="p">Detox blend</div>
				
</div>
			  </li>
		  </ol>
		
<a href="#" class="btn btn-dark me-2">Book</a>
		  <a href="#" class="btn btn-outline-dark ">Buy as a gift</a>
    </div>
<div class="col-lg-5 order-1 order-lg-1">
      <div class="bg-img-hero-center h-100 min-h-650rem rounded-4 shadow" style="background-image: url( images/targeted-aromatherapy-massagee-caversham.jpg);"></div>
    </div>
  </div>	
</div>
</div>	
<div class="container space-2">
<div class="row justify-content-lg-between align-items-lg-center space-top-1 space-top-lg-3">
    <div class="col-lg-5 space-1 space-lg-2 order-2 order-lg-1">
       <h3 class="mb-4">Custom Body Polish Package</h3>
       <p>The HUMOS custom body polish backage beings with a body brushing session to help boost circulation and prep your skin for the custom aromatherapy scrub, which is blended just for you, that follows.</p>
		  <p>You'll then experience our aromatherapy body mask or wrap, depending on which skin concerns your custom package is targeted towards, before finishing with a luxury, custom aromatherapy body moisturiser which helps to replenish your skin and lock in the benefits of the treatment.</p>
<p class=""><i class="far fa-tag text-gold fa-fw"></i> Investment: £125 per treatment</p>
				  <p><i class="far fa-clock text-gold fa-fw"></i> Length: 80 minutes + 15 minute consultation and prep.</p>
		  <a href="#" class="btn btn-gold me-2">Book</a>
		  <a href="#" class="btn btn-outline-gold ">Buy as a gift</a>
</div>
<div class="col-lg-6 order-1 order-lg-2">
      <div class="bg-img-hero-center h-100 min-h-650rem rounded-4" style="background-image: url( images/custom-body-polish-package.jpg);"></div>
    </div>
  </div>

  <div class="row justify-content-lg-between align-items-lg-center space-top-1 space-top-lg-3">
    <div class="col-lg-5 order-lg-2 space-1 space-lg-2 order-2 order-lg-1">
      <h3 class="mb-4">Salt and Oil Aromatherapy Scrub</h3>
      <p>This exceptional skin softening body exfoliation combines a blend of dea salts with pure essential oils and base oils to leave your skin feeling nourished, smooth and supple.</p>
		  <p class=""><i class="far fa-tag text-gold fa-fw"></i> Investment: £60 per treatment</p>
		  <p><i class="far fa-clock text-gold fa-fw"></i> Length: 30 minutes + 30 minute consultation and prep.</p>
		  <a href="#" class="btn btn-gold me-2">Book</a>
		  <a href="#" class="btn btn-outline-gold ">Buy as a gift</a>
    </div>
<div class="col-lg-6 order-1 order-lg-1">
      <div class="bg-img-hero-center h-100 min-h-450rem rounded-4" style="background-image: url( images/salt-and-oil-body-scrub-reading.jpg);"></div>
    </div>
  </div>
	
  <div class="row justify-content-lg-between align-items-lg-center space-top-1 space-top-lg-3">
    <div class="col-lg-5 space-1 space-lg-2 order-2 order-lg-1">
       <h3 class="mb-4">Bespoke Aromatherapy Facial with Customised Facial Massage</h3>
       <p>An aromatherapy facial treatment performed with a bespoke range of aromatherapy skin-care products which are blended specifically for your skin prior to your treatment.</p>
		  <p>This bespoke aromatherapy facial includes a customised facial massage that draws from a range of techniques including manual drainage, holistic and  lifting techniques to help target fine lines and wrinkles and to boost circulation</p>
		  <p class=""><i class="far fa-tag text-gold fa-fw"></i> Investment: £165 per treatment</p>
		  <p><i class="far fa-clock text-gold fa-fw"></i> Length: 90 minutes + 20 minute consultation and prep.</p>
		  <a href="#" class="btn btn-gold">Book</a>
		  <a href="#" class="btn btn-outline-gold ">Buy as a gift</a>
</div>
<div class="col-lg-6 order-1 order-lg-2">
      <div class="bg-img-hero-center h-100 min-h-650rem rounded-4" style="background-image: url( images/custom-aromatherapy-facial-reading.jpg);"></div>
    </div>
  </div>	
</div>
<!-- End Product Review Section -->
 <!-- Divider -->

<!-- CTA -->
<div class="container space-bottom-1 space-bottom-md-2 ">
<div class="bg-img-hero rounded-4 p-5 bg-gold" style="background-image: url(images/aromatherapy-journey-CTA.jpg);">
  <div class="row align-items-md-center justify-content-between p-5">
    <div class="col-md-5 mb-3 mb-md-0 text-center text-md-start">
      <h1 class="text-white h3 mb-0">Leave your worries and stress behind. Book an aromatherapy treatment today.</h1>
</div>
    <div class="col-md-4 text-center text-md-end">
      <a class="btn btn-light rounded-pill px-5" href="#">BOOK A TREATMENT</a>
    </div>
  </div>
</div>
	</div>
<!-- End CTA -->
