---
title: "Aromatherapy Treatments"
description: "A natural way of healing your mind, body and soul."
heading: "Aromatherapy Treatments"
subHeading: "A natural way of healing your mind, body and soul."
layout: "pageWithHero"
slug: "/aromatherapy-massage-and-treatments-in-reading/"
---

<div class="container space-top-1 space-top-lg-2 space-bottom-lg-2 space-bottom-2">
<!-- Product Review Section -->
<div class="container space-2">
  <div class="row justify-content-lg-between align-items-lg-center">
    <div class="col-lg-5 space-1 space-lg-2 order-2 order-lg-1">
       <h3 class="mb-4">Custom Head-to-Toe Aromatherapy Massagesdgdfgd</h3>
<p>A head-to-toe, custom aromatherapy massage performed with a luxury, bespoke blend of aromatherapy oils at maximum strength. Treatment also includes a facial massage and head massage where necessary.</p>
		<p>This massage treatment includes an in-depth consultation and can target more than one ailment per treatment as each oil or massage medium is blended fresh for every treatment.</p>
<p class=""><i class="far fa-tag text-gold fa-fw"></i> Investment: £175 per treatment</p>
				  <p><i class="far fa-clock text-gold fa-fw"></i> Length: 90 minutes + 30 minute consultation and prep.</p>
		  <a href="#" class="btn btn-outline-gold me-2">Book</a>
		  <a href="#" class="btn btn-outline-gold ">Buy as a gift</a>
</div>
<div class="col-lg-6 order-1 order-lg-2">
      <div class="bg-img-hero-center h-100 min-h-650rem rounded-4" style="background-image: url( /images/aromatherapy-massage-in-reading-woman.jpg);"></div>
    </div>
  </div>
</div>


<div class="bg-gold">

<div class="container">
  <div class="row justify-content-lg-between align-items-lg-center space-1 space-lg-2">
    <div class="col-lg-6 order-lg-2 space-1 space-lg-2 order-2 order-lg-1">
      <h3 class="mb-4">Problem-targeted Aromatherapy Massage</h3>
      <p class="col-lg-10">A aromatherapy body massage that utilises a fixed routine and one of our in-house pre-blended aromathearpy oils targeted towards specific problems. </p>
		  <p class="pe-lg-5">Choose from one of our in-house pre-blended aromatherapy oils:</p>
		  <ol class="list-group list-group-numbered pb-5">
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0 bg-transparent">
				  <div class="ms-2 me-auto">
					  <div class="">Deeply Relaxing Blend</div>
</div>
</li>
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0 bg-transparent">
				  <div class="ms-2 me-auto">
					  <div class="">Sleep enhancing blend</div>
</div>
</li>
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0 bg-transparent">
				  <div class="ms-2 me-auto">
					  <div class="">Anxiety easing blend</div>
					
</div>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0 bg-transparent">
				  <div class="ms-2 me-auto">
					  <div class="">Muscle teension blend</div>
				
</div>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0 bg-transparent">
				  <div class="ms-2 me-auto">
					  <div class="">Energising blend</div>
					  
</div>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-start border-0 bg-transparent">
				  <div class="ms-2 me-auto">
					  <div class="p">Detox blend</div>
				
</div>
			  </li>
		  </ol>
		
<a href="#" class="btn btn-dark me-2">Book</a>
		  <a href="#" class="btn btn-outline-dark ">Buy as a gift</a>
    </div>
<div class="col-lg-5 order-1 order-lg-1">
      <div class="bg-img-hero-center h-100 min-h-650rem rounded-4 shadow" style="background-image: url( /images/targeted-aromatherapy-massagee-caversham.jpg);"></div>
    </div>
  </div>	
</div>
</div>	
<div class="container space-2">
<div class="row justify-content-lg-between align-items-lg-center space-top-1 space-top-lg-3">
    <div class="col-lg-5 space-1 space-lg-2 order-2 order-lg-1">
       <h3 class="mb-4">Custom Body Polish Package</h3>
       <p>The HUMOS custom body polish backage beings with a body brushing session to help boost circulation and prep your skin for the custom aromatherapy scrub, which is blended just for you, that follows.</p>
		  <p>You'll then experience our aromatherapy body mask or wrap, depending on which skin concerns your custom package is targeted towards, before finishing with a luxury, custom aromatherapy body moisturiser which helps to replenish your skin and lock in the benefits of the treatment.</p>
<p class=""><i class="far fa-tag text-gold fa-fw"></i> Investment: £125 per treatment</p>
				  <p><i class="far fa-clock text-gold fa-fw"></i> Length: 80 minutes + 15 minute consultation and prep.</p>
		  <a href="#" class="btn btn-gold me-2">Book</a>
		  <a href="#" class="btn btn-outline-gold ">Buy as a gift</a>
</div>
<div class="col-lg-6 order-1 order-lg-2">
      <div class="bg-img-hero-center h-100 min-h-650rem rounded-4" style="background-image: url( /images/custom-body-polish-package.jpg);"></div>
    </div>
  </div>

  <div class="row justify-content-lg-between align-items-lg-center space-top-1 space-top-lg-3">
    <div class="col-lg-5 order-lg-2 space-1 space-lg-2 order-2 order-lg-1">
      <h3 class="mb-4">Salt and Oil Aromatherapy Scrub</h3>
      <p>This exceptional skin softening body exfoliation combines a blend of dea salts with pure essential oils and base oils to leave your skin feeling nourished, smooth and supple.</p>
		  <p class=""><i class="far fa-tag text-gold fa-fw"></i> Investment: £60 per treatment</p>
		  <p><i class="far fa-clock text-gold fa-fw"></i> Length: 30 minutes + 30 minute consultation and prep.</p>
		  <a href="#" class="btn btn-gold me-2">Book</a>
		  <a href="#" class="btn btn-outline-gold ">Buy as a gift</a>
    </div>
<div class="col-lg-6 order-1 order-lg-1">
      <div class="bg-img-hero-center h-100 min-h-450rem rounded-4" style="background-image: url( /images/salt-and-oil-body-scrub-reading.jpg);"></div>
    </div>
  </div>
	
  <div class="row justify-content-lg-between align-items-lg-center space-top-1 space-top-lg-3">
    <div class="col-lg-5 space-1 space-lg-2 order-2 order-lg-1">
       <h3 class="mb-4">Bespoke Aromatherapy Facial with Customised Facial Massage</h3>
       <p>An aromatherapy facial treatment performed with a bespoke range of aromatherapy skin-care products which are blended specifically for your skin prior to your treatment.</p>
		  <p>This bespoke aromatherapy facial includes a customised facial massage that draws from a range of techniques including manual drainage, holistic and  lifting techniques to help target fine lines and wrinkles and to boost circulation</p>
		  <p class=""><i class="far fa-tag text-gold fa-fw"></i> Investment: £165 per treatment</p>
		  <p><i class="far fa-clock text-gold fa-fw"></i> Length: 90 minutes + 20 minute consultation and prep.</p>
		  <a href="#" class="btn btn-gold">Book</a>
		  <a href="#" class="btn btn-outline-gold ">Buy as a gift</a>
</div>
<div class="col-lg-6 order-1 order-lg-2">
      <div class="bg-img-hero-center h-100 min-h-650rem rounded-4" style="background-image: url( /images/custom-aromatherapy-facial-reading.jpg);"></div>
    </div>
  </div>	
</div>
<!-- End Product Review Section -->
 <!-- Divider -->

<!-- CTA -->
<div class="container space-bottom-1 space-bottom-md-2 ">
<div class="bg-img-hero rounded-4 p-5 bg-gold" style="background-image: url(/images/aromatherapy-journey-CTA.jpg);">
  <div class="row align-items-md-center justify-content-between p-5">
    <div class="col-md-5 mb-3 mb-md-0 text-center text-md-start">
      <h1 class="text-white h3 mb-0">Leave your worries and stress behind. Book an aromatherapy treatment today.</h1>
</div>
    <div class="col-md-4 text-center text-md-end">
      <a class="btn btn-light rounded-pill px-5" href="#">BOOK A TREATMENT</a>
    </div>
  </div>
</div>
	</div>
<!-- End CTA -->
