---
title: "Contacta con nosotros"
description: "Puede ponerse en contacto con nosotros utilizando la siguiente información de contacto."
layout: "page"
slug: "/contacta-con-nosotros/"
---
   <!-- Hero Section -->
<div class="space-top-1 space-bottom-1">
 <!-- Title -->
<div class="w-lg-65 text-center mx-lg-auto">
        <h1>Contacta con nosotros</h1>
      </div>
      <!-- End Title -->
    </div>

 <!-- Divider -->
      <div class="w-lg-65 mx-lg-auto mb-5">
        <hr class="my-0">
      </div>
  <!-- end Divider -->
<div class="row">
<div class="col-md-4 mb-md-5">
<h3>Opening Hours:</h3>
 </div>
 <div class="col-md-8 mb-md-5 mb-5">
<ul class="list-unstyled fs-5">
        <li><span class="me-2">Monday:</span>CLOSED</li>
        <li><span class="me-2">Tuesday:</span>10am &#8211; 7pm</li>
        <li><span class="me-2">Wednesday:</span>10am &#8211; 7pm</li>
        <li><span class="me-2">Thursday:</span>10am &#8211; 7pm</li>
        <li><span class="me-2">Friday:</span>10am &#8211; 7pm</li>
        <li><span class="me-2">Saturday:</span>10am &#8211; 7pm</li>
        <li><span class="me-2">Sunday:</span>11am &#8211; 3pm</li>
    </ul>

</div>    
    

<div class="col-md-4 mb-md-5">
<h3>Locations:</h3>
</div>
<div class="col-md-8 mb-md-5 mb-5">
    <div class="row">
        <div class="col-md-6 mb-5">
            <p><span class="fw-bold">United Kingdom</span>
                <br>HUMOS<br>
                5 Church Road<br>
                Caversham<br>
                Reading<br>
                Berkshire<br>
                RG4 7AA<br>
                United Kingdom
            </p>
        </div>
        <div class="col-md-6 mb-5">
            <p><span class="fw-bold">Spain</span>
                <br>HUMOS<br>
                Address Line 1<br>
                Address Line 2<br>
                Postcode<br>
                Madrid<br>
                <br>
                Spain
            </p>
        </div>
    </div>

</div>
<div class="col-md-4 mb-md-5">
<h3>Email us:</h3>
</div>
<div class="col-md-8 mb-md-5 mb-5">
<p>Please email <span class="fw-bold"> support@humos.co.uk</span></p>
</div>
<div class="col-md-4 mb-md-5">
<h3>Call us:</h3>
 </div>
 <div class="col-md-8 mb-md-5 mb-5">
<p>To contact customer services via phone, please call <span class="font-weight-bold">+44 (0)118 948 1209</span> during opening hours. If your query is in relation to an order, please have your order number to hand.</p>
</div>
    
<div class="col-md-4 mb-md-5">
<h3>Customer Service:</h3>
 </div>
 <div class="col-md-8 mb-md-5 mb-5">
<p>To contact customer service, please visit our <a href="/customer-service/" class="fw-bold btn-link text-dark">customer service page</a>.</p>
</div>    
    
<div class="col-md-4 mb-md-5">
<h3>Delivery and Returns:</h3>
 </div>
 <div class="col-md-8 mb-md-5 mb-5">
<p>For information regarding delivery and returns, please visit our <a href="/delivery-and-returns/" class="fw-bold btn-link text-dark">delivery and returns page</a>.</p>
</div>        
</div>

