<!DOCTYPE html>
{{ if eq .Site.Language.Lang "en"}}
<html lang="en">
{{ else }}
<html lang="es">
{{ end }}
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}




        <div id="content">
          
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
