{{ define "main" }}

<div class="container py-3">
	 {{- partial "breadcrumb.html" . -}}
		<!-- Categories Section -->
	<!-- Title -->
      <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-5 mb-md-9 d-none">
        <h1 class="text-capitalize font-weight-bold">{{ .Params.heading }}</h1>
		  <p class="lead">{{ .Params.Description }}</p>
      </div>
      <!-- End Title -->
	<section class="mb-3">
	 <hr class="my-0" />
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center py-3 px-4 mx-2">
          <div class="d-flex flex-row align-items-center">
            <p class="mb-0 d-flex align-items-center" style="font-weight: 500" data-bs-toggle="collapse" href="#collapseExample" role="button">
              <i class="fas fa-filter pe-2 text-muted"></i>2 filters
            </p>
            <span class="px-3" style="color: #bbb">|</span>
            <p class="mb-0 text-muted"><a href="#!" class="text-reset"> Clear all</a></p>
          </div>
          <div>
            <a
              class="text-reset me-md-4 pe-md-2 dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
              style="font-weight: 500"
            >
              Sort
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">Most Popular</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Best Rating</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Newest</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Price: Low to High</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Price: High to Low</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
		<div class="collapse" id="collapseExample">
  <div class="card card-body shadow-none">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
</div>
    </div>
    <hr class="my-0" />
	</section>
	
	<div class="row">
		<div class="col-xl-2 d-none">
			
			<div class="row justify-content-start mb-5" id="size-filters" data-mdb-items=".size-item" data-mdb-auto-filter="true">
				<div class="col-md-12" data-mdb-filter="size">
					<span class="h5 mb-5">Catagory</span>
					
					<div class="form-check mt-3">
						<input class="form-check-input filter-button" data-filter="all" type="checkbox" id="inlineCheckbox1" value="36"/>
						<label class="form-check-label" for="inlineCheckbox1">Candles</label>
					</div>
					<div class="form-check mt-3">
						<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="38"/>
						<label class="form-check-label" for="inlineCheckbox2">Reed Diffusers</label>
						
						
					</div>
					
					<div class="form-check mt-3">
						<input class="form-check-input filter-button" data-filter="room_mist" type="checkbox" id="inlineCheckbox3" value="room-mist"/>
						<label class="form-check-label" for="inlineCheckbox3">Room Mists</label>
					</div>
					
					<div class="form-check mt-3">
						<input class="form-check-input filter-button" data-filter="photo" type="checkbox" id="inlineCheckbox4" value="42"/>
						<label class="form-check-label" for="inlineCheckbox4">Blended Essential Oil</label>
					</div>
				</div>
			</div>
			
		
			
			<div class="row justify-content-start mb-5" id="aroma-benefits-filters" data-mdb-items=".aroma-benefits" data-mdb-auto-filter="true">
				<div class="col-md-12" data-mdb-filter="aroma-benefits">
					<span class="h5 mb-5">Aromatherapy benefits</span>
					
					<div class="form-check mt-3">
						<input class="form-check-input filter-button" data-filter="calming" type="checkbox" id="filterCalming" value="calming"/>
						<label class="form-check-label" for="filterCalming">Calming</label>
					</div>
					<div class="form-check mt-3">
						<input class="form-check-input filter-button" data-filter="stress" type="checkbox" id="filterStress" value="38"/>
						<label class="form-check-label" for="filterStress">For stress</label>
					</div>
					
					<div class="form-check mt-3">
						<input class="form-check-input filter-button" data-filter="energy" type="checkbox" id="filterEnergy" value="40"/>
						<label class="form-check-label" for="filterEnergy">For energy</label>
					</div>
					
					<div class="form-check mt-3">
						<input class="form-check-input filter-button" data-filter="mood" type="checkbox" id="filterMood" value="42"/>
						<label class="form-check-label" for="filterMood">For mood</label>
					</div>
				</div>
			</div>
			
		
			
			
		</div>

	
	<div class="col-xl-12">
	  <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 mx-auto">
	  	{{ $data := index .Site.Data .Site.Language.Lang }}
	  	{{ range $data.productlist }}
	  	{{ partial "cat-list-card.html" . }}
	  {{ end }}
	  </div>
		
		</div>
	</div>

</div>
{{ end }}