{{ define "main" }}

<!-- Hero Section -->
<div class="container py-5">

  <div class="row g-4"> 
	  
	  {{/* product image slider */}}
	  <div class="col-lg-7 mb-s ms-lg-0">
		  <!-- Main image Slider -->
	<div class="pe-lg-4">
	<div class="position-relative">
		
		<div id="carouselExampleIndicators" 
			 class="carousel slide carousel-fade" 
			 data-bs-ride="carousel">
			
			<div class="carousel-inner">
				
				<!--look over slider_images object --> 
				{{ range  $.Param "slider_images" }}
				
				<div class="carousel-item {{ if eq .id 1 }}active{{ end }} rounded-4">
					<picture>
						<source srcset="{{ .Site.BaseURL }}{{ .url }}.webp" 
								type="image/webp">
						<source srcset="{{ .Site.BaseURL }}{{ .url }}.jpg" 
								type="image/jpeg"> 
						<img src="{{ .Site.BaseURL }}{{ .url }}.jpg" 
							 alt="{{ .alt_text }}" 
							 class="d-block w-100">
					</picture>
				</div>
				
				{{ end }}
			
			</div>
			<!-- if slider_image object has second image show controls --> 
			{{ if $.Param "slider_images.2" }}
			
			<button class="carousel-control-prev text-black-50" 
					type="button" 
					data-bs-target="#carouselExampleIndicators" 
					data-bs-slide="prev"><i class="fal fa-arrow-circle-left fa-3x"></i></button>
			
			<button class="carousel-control-next text-black-50" 
					type="button" 
					data-bs-target="#carouselExampleIndicators" 
					data-bs-slide="next">
				<i class="fal fa-arrow-circle-right fa-3x"></i>
			</button>
			
			{{ end }}
			
		</div>
		</div>
		  </div>
        <!-- End Main image Slider -->
	  </div>
	  {{/* end product image slider */}} 
    
    <!-- Product Description -->
    <div 
		 class="col-lg-5"> 
      
      <!-- Title --> 
    <div class="mt-3 mt-md-0 mb-4">
	<h1 class="h2 font-weight-bold">
		{{ $.Param "experience_title" }}
		</h1>
	<p class="text-muted">{{ $.Param "experience_short_description" }}</p>
</div>
      <!-- End Title --> 
		
		<!-- Experience Price --> 
		{{ if $.Param "pricing" }}
		
		<div class="mb-4">
			<h2 class="font-size-1 text-body mb-0">{{ $.Param "pricing.title" }}:</h2>
			<span class="font-size-2 font-weight-black">£{{ $.Param "pricing.price" }}</span>
			<span class="small">
				{{ if eq .Params.pricing.individual  "true" }}
					{{ $.Param "pricing.small" }}

				{{ else }} 
				
					{{ with $.Param "pricing.min_people" }}
						for up to {{ $.Param "pricing.min_people" }} people.  
					{{ end }} 
				
					{{ with $.Param "pricing.additional" }}
						£{{ $.Param "pricing.additional" }} per additional person.
					{{ end }}
				
				{{ end }}
				
				</span>
		</div>
		
		{{end}}
		<!-- End Experience Price --> 
		
		
		
		
		<!-- Accordion --> 
		{{ if $.Param "accordion" }}
		
		<div class="accordion mb-4" 
			 id="accordionExample">	
			
			{{ range $.Param "accordion" }}
			
			<div class="accordion-item">
				<h2 class="accordion-header" 
					id="accordion{{ .id }}">
					<button class="accordion-button collapsed" 
							type="button" 
							data-bs-toggle="collapse" 
							data-bs-target="#accordion{{ .id }}_body" 
							aria-expanded="false" 
							aria-controls="collapseOne">
						<i class="{{ .icon }} fa-lg fa-fw  me-3"></i>{{ .title }}
					</button>
				</h2>
				<div id="accordion{{ .id }}_body" 
					 class="accordion-collapse collapse" 
					 aria-labelledby="headingOne" 
					 data-bs-parent="#accordionExample">
					
					<div class="accordion-body">
						{{ .body }}
					</div>
					
				</div>
			</div>
			
			{{ end }}
			
		</div>
		
		{{ end }}	
		<!-- End Accordion --> 
      
      <!-- product add to cart button -->
		
		{{ with $.Params.workshop_type }} 
		
		<div id="mainAddToCartButton" 
			 class="d-grid mb-4">
			
			<button class="btn btn-lg btn-dark rounded-pill py-3" 
					type="button" 
					data-bs-toggle="modal" 
					{{ if eq $.Params.workshop_type "private" }} 
					data-bs-workshop-price="{{ $.Param "pricing.price" }}" 
					data-bs-workshop-price-additional="{{ $.Param "pricing.additional" }}" 
					data-bs-workshop-max-people="{{ $.Param "pricing.max_people" }}" 
					data-bs-workshop-min-people="{{ $.Param "pricing.min_people" }}" 
					{{ end }} 
					data-bs-target="
									{{ if eq $.Params.workshop_type "open" }}
									#openWorkshopDatesModal 
									{{ else if eq $.Params.workshop_type "individual" }} 
									#staticBackdrop 
									{{ else if eq $.Params.workshop_type "private" }}
									#privateWorkshopModal
									{{ end }}">
				{{ if eq $.Params.workshop_type "open" }}
				View available dates 
				{{ else if eq $.Params.workshop_type "individual" }}
				Book this experience 
				{{ else if eq $.Params.workshop_type "private" }}
				book
				{{ end }}
			</button>
		
		</div>
		
		{{ end }}


      <!-- end product add to cart button --> 
      
      <!-- Help Link --> 
      {{- partial "product-help-link.html" . -}} 
      <!-- End Help Link --> 
      
    </div>
    <!-- End Product Description --> 
    
  </div>
</div>
<!-- End Hero Section --> 

<!-- Product Description Section -->


{{ if $.Param "further_details.title" }}

<div id="" 
	 class="container py-5">
  <div class="row">
	  
	  {{ if $.Param "further_details.title" }}
	  
    <div class="col-md-6 mb-5 mb-md-0">
      <div class="pr-lg-4">
        <h4>{{ $.Param "further_details.title" }}</h4>
        <p class="text-muted">{{ $.Param "further_details.content" }}
		  </p>
      </div>
    </div>
	  
	  {{ end }}
	  
	  {{ if $.Param "further_details.list" }}
	  
    <div class="col-md-6 mb-5 mb-md-0">
      <h4>{{ $.Param "further_details.list.title" }}</h4>
      <div class="row">
		  
		  {{ if $.Param "further_details.list.list_1" }}
		  
        <div class="col-sm-6">
          <ul class="list-sm-article text-body mb-0">
			  
			  {{ range $.Param "further_details.list.list_1" }}
			  
			  <li>{{ . }}</li>
			  
			  {{ end }} 
		
          </ul>
        </div>
		  
		  {{ end }}
		  
		  {{ if $.Param "further_details.list.list_2" }}
		  
        <div class="col-sm-6">
           <ul class="list-sm-article text-body mb-0">
			   
			   {{ range $.Param "further_details.list.list_2" }}
			  
			  <li>{{ . }}</li>
			  
			  {{ end }}
			  
			
          </ul>
        </div>
		  
		  {{ end }}
		  
      </div>
    </div>
	  
	  {{ end }}
	  
  </div>
</div>

{{ end }}



<!-- End Product Description Section --> 

<!-- Product more info Section -->
<!-- Product more info Section -->




<!-- Product more info Section -->
{{ if $.Param "more_info_section" }}

<div id="productDetails" 
	 class="container">

	{{ range $.Param "more_info_section" }}

		{{ if eq .text_location "left" }}

		<div class="row justify-content-lg-between align-items-lg-center space-bottom-1 space-bottom-lg-3">
	<div class="col-lg-5 space-1 space-lg-2 order-2 order-lg-1">
		<h3 class="mb-4">{{ .title | safeHTML }}</h3>
		{{ .text | safeHTML }}
		
	</div>
    <div class="col-lg-6 order-1 order-lg-2">
		<div class="bg-img-hero-center h-100 min-h-450rem rounded-4" 
			 style="background-image: url({{ .image_url }});">
		</div>
	</div>
</div>

		{{ else }}
	
	<div 
		 class="row justify-content-lg-between align-items-lg-center space-bottom-1 space-bottom-lg-3">
			<div class="col-lg-5 order-2 space-1 space-lg-2">
				<h3 class="mb-4">
					{{ .title | safeHTML }}
				</h3>
				{{ .text | safeHTML }}
				
			</div>
			<div class="col-lg-6 order-1">
				<div class="bg-img-hero-center h-100 min-h-450rem rounded-4" 
					 style="background-image: url({{ .image_url }});">
				</div>
			</div>
	</div>

		{{ end }}

	{{ end }}


 
   </div>

{{ end }}









<div id="thingstokeepinmind" 
	 class="container space-bottom-3 space-bottom-lg-3">
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 space-1 space-lg-2">
		<div class="col w-100 text-center">
		<h3 class="mb-4">
			What people are saying
			</h3>
		</div>
		
  <div class="col">
    <div class="card h-100 text-center rounded-4 shadow-none border">
      <div class="card-body py-5">
        <h5 class="card-title text-gold pb-4">
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
		  </h5>
        <p class="card-text">
			"Gabriel was very warm and welcoming. He has huge knowledge and passion for fragrances. He delivers his knowledge with charm and gave my wife and me a wonderful experience.""
		  </p>
      </div>
      <div class="card-footer bg-transparent">
		  <small class="text-muted">
			Hatem via Airbnb Experiences
		  </small>
      </div>
    </div>
  </div>
		
		<div class="col">
    <div class="card h-100 text-center rounded-4 shadow-none border">
      <div class="card-body py-5">
        <h5 class="card-title text-gold pb-4">
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
		  </h5>
        <p class="card-text">
			"Excellent experience I really recommend."
		  </p>
      </div>
      <div class="card-footer bg-transparent">
		  <small class="text-muted">
			Charlotte via Airbnb Experiences
		  </small>
      </div>
    </div>
  </div>	

 <div class="col">
    <div class="card h-100 text-center rounded-4 shadow-none border">
      <div class="card-body py-5">
        <h5 class="card-title text-gold pb-4">
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
		  </h5>
        <p class="card-text">
			"We had a lot of fun on this experience. The host was very passionate and made us feel welcome. The experience itself was mind opening and unique!!"
		  </p>
      </div>
      <div class="card-footer bg-transparent">
        <small class="text-muted">
			Shika via Airbnb Experiences
		  </small>
      </div>
    </div>
  </div>
		
	 
		 <div class="col show-more-reviews d-none">
    <div class="card h-100 text-center rounded-4 shadow-none border">
      <div class="card-body py-5">
        <h5 class="card-title text-gold pb-4">
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
		  </h5>
        <p class="card-text">
			"Our experience was simply amazing! Thank you, Gabriel... ...Gabriel went above and beyond in making us feel comfortable. My friend Ana and I learned a great deal about perfumes and what makes us so important in our lives. A great experience overall - Thank you!"
		  </p>
      </div>
      <div class="card-footer bg-transparent">
        <small class="text-muted">
			Christina via Airbnb Experiences
		  </small>
      </div>
    </div>
  </div>
	
		 <div class="col show-more-reviews d-none">
    <div class="card h-100 text-center rounded-4 shadow-none border">
      <div class="card-body py-5">
        <h5 class="card-title text-gold pb-4">
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
		  </h5>
        <p class="card-text">
			"A very special event for those you love to be given the opportunity to create a personal perfume to match one’s own olfactory preferences. Top recommendation."
		  </p>
      </div>
      <div class="card-footer bg-transparent">
        <small class="text-muted">
			Fabienne via Airbnb Experiences
		  </small>
      </div>
    </div>
  </div>
		
		 <div class="col show-more-reviews d-none ">
    <div class="card h-100 text-center rounded-4 shadow-none border">
      <div class="card-body py-5">
        <h5 class="card-title text-gold pb-4">
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
			<i class="fas fa-star"></i>
		  </h5>
        <p class="card-text">
			"We came in not sure what we were going to do! But we left loving the fragrances and having smelt new and interesting smells we hadn't before. We loved being able to ask questions and finding out about some of the fragrances we encountered. Thanks Gabrielle!"
		  </p>
      </div>
      <div class="card-footer bg-transparent">
        <small class="text-muted">
			Joela via Airbnb Experiences
		  </small>
      </div>
    </div>
  </div>
		<div class="col w-100 text-center">
			<button type="button" 
					class="btn btn-dark btn-lg btn-rounded show-more-reviews-button">Show more reviews
			</button>
		</div>	
</div>
	<div class="row">
		<div class="col-lg-8 mx-auto text-center space-1 space-lg-2">
			<h3 class="mb-4">{{ $.Param "terms.title" }}</h3>
			{{$.Param "terms.text" | safeHTML }}
			<dl class="row">
  <dt class="col-sm-6">Implicitly generated text:</dt>
  <dd class="col-sm-6 dummy"></dd>

  <dt class="col-sm-6">Explicitly generated text with 40 characters length:</dt>
  <dd class="col-sm-6 dummy" data-mdb-dummy-text="40"></dd>

  <dt class="col-sm-6">Text with customc color:</dt>
  <dd class="col-sm-6 dummy" data-mdb-dummy-text-color="red"></dd>
</dl>


		</div>
	</div>
	

</div>



 <div id="bottomCart" 
	  class="w-100 pt-3 pb-3 bg-white fixed-bottom border-top d-none">
	 <div class="container-lg">

			 <!-- Quantity --> 
      <div class="py-2 px-3 mb-3">
	<div class="d-flex align-items-center flex-wrap">
		<div class="text-center text-sm-start flex-fill flex-md-grow-1">
			<h5>{{ $.Param "experience_title" }}</h5>
			
			<small>£{{ $.Param "pricing.price" }}{{ if eq .Params.pricing.individual  "true" }}
					{{ $.Param "pricing.small" }}

				{{ else }} 
				
					{{ with $.Param "pricing.min_people" }}
						for up to {{ $.Param "pricing.min_people" }} people.  
					{{ end }} 
				
					{{ with $.Param "pricing.additional" }}
						£{{ $.Param "pricing.additional" }} per additional person.
					{{ end }}
				
				{{ end }}</small>
		</div>
		
		
		
	
		<div class="mx-auto ms-lg-auto flex-fill flex-md-grow-0 mt-2 mt-md-0">
			<button type="button" 
					class="btn btn-lg  btn-block rounded-pill btn-dark w-100 px-md-5" 
					data-bs-toggle="modal" 
					{{ if eq $.Params.workshop_type "private" }} 
					data-bs-workshop-price="{{ $.Param "pricing.price" }}" 
					data-bs-workshop-price-additional="{{ $.Param "pricing.additional" }}" 
					data-bs-workshop-max-people="{{ $.Param "pricing.max_people" }}" 
					data-bs-workshop-min-people="{{ $.Param "pricing.min_people" }}" 
					{{ end }} 
					data-bs-target="
									{{ if eq $.Params.workshop_type "open" }}
									#openWorkshopDatesModal 
									{{ else if eq $.Params.workshop_type "individual" }} 
									#staticBackdrop 
									{{ else if eq $.Params.workshop_type "private" }}
									#privateWorkshopModal
									{{ end }}">
				{{ if eq $.Params.workshop_type "open" }}
				View available dates 
				{{ else if eq $.Params.workshop_type "individual" }}
				Book this experience 
				{{ else if eq $.Params.workshop_type "private" }}
				book
				{{ end }}
				
				
			</button>
		</div>
	
		
		
		

      <!-- End Quantity --> 
				
			 </div>
			 
		 </div>
	 </div>
    
  </div>



<!-- open workshop  modal -->
<div class="modal fade" 
	 id="openWorkshopDatesModal" 
	 data-bs-backdrop="static" 
	 data-bs-keyboard="false" 
	 tabindex="-1" 
	 aria-labelledby="exampleModalLabel" 
	 aria-hidden="true">
	
	<div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" 
					class="btn-close" 
					data-bs-dismiss="modal" 
					aria-label="Close">
			</button>
      </div>
      <div class="modal-body">
		  
		  {{ with $.Param "open_workshop_dates" }}
		  <ul class="list-group list-group-flush">
			  
			  {{ range $.Param "open_workshop_dates" }}
			  
			  <li class="list-group-item d-flex justify-content-between align-items-center py-3">
				  <div>
					  <h5>{{ .title }}</h5>
					  <p class="mb-0">{{ .date }} at {{ .time }}</p>
				  </div>
				  <a href="#" 
					 class="btn btn-dark" 
					 data-bs-target="#openWorkshopDatesBookingModal" 
					 data-bs-toggle="modal" 
					 data-bs-dismiss="modal" 
					 data-bs-workshop-title="{{ .title }}" 
					 data-bs-workshop-date="{{ .date }}" 
					 data-bs-workshop-time="{{ .time }}" 
					 data-bs-workshop-price="{{ .price }}">
					  BOOK
				  </a>
			  </li>
			  
			  {{ end }}
			  
		  </ul>
		  
		  {{ else }}
		  <p class="text-center">THere are no workshops listed. Please contact us for available dates.</p>
		  {{ end }}
		  
      </div>
      <div class="modal-footer d-none">
        <button type="button" 
				class="btn btn-dark" 
				data-bs-dismiss="modal">
			Close
		  </button>
        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" 
	 id="openWorkshopDatesBookingModal" 
	 data-bs-backdrop="static" 
	 data-bs-keyboard="false" 
	 tabindex="-1" 
	 aria-labelledby="exampleModalLabel" 
	 aria-hidden="true">
	
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		  <button type="button" 
				  class="btn-close" 
				  data-bs-dismiss="modal" 
				  aria-label="Close">
		  </button>
      </div>
		<form id="openWorkshopForm">
			<div class="sending-form modal-body d-none"></div>
			<div class="modal-body form_body">
				<ul class="list-group list-group-flush">
					<li class="list-group-item d-flex justify-content-between align-items-center py-3 px-0">
						<div class="flex-fill">
							<input readonly="readonly" 
								   type="text" 
								   name="WorkshopTitle" 
								   class="form-control form-control-lg p-0 m-0 text-capitalize fw-bold border-0 bg-white booking-workshop-title w-100" 
								   value="hello there"/>
							<input readonly="readonly" 
								   type="text" 
								   name="DateAndTime" 
								   class="form-control form-control-lg p-0 m-0 border-0 bg-white booking-workshop-date-time w-100" 
								   value="date and time"/>		
						</div>
						<a href="#" 
						   class="btn btn-outline-secondary" 
						   data-bs-target="#openWorkshopDatesModal" 
						   data-bs-toggle="modal">CHANGE</a>
					</li>
				</ul>
				
				<div class="border border-gray rounded-3  py-2 px-3 mb-3">
					<div class="d-flex row align-items-center">
						<div class="col-7">
							<small class="d-block text-body font-weight-bold">Number of attendees:</small>
							<input type="text" 
								   id="OpenWorkshopQty" 
								   name="Attendees" 
								   class="product-qty-input js-result form-control h-auto border-0 rounded-lg p-0" 
								   value="1">
						</div>
						<div class="col-5 text-end">
							<a class="js-minus btn btn-xs btn-icon btn-outline-secondary rounded-circle" 
							   href="javascript:;">
								<i class="fas fa-minus"></i>
							</a>
							<a class="js-plus btn btn-xs btn-icon btn-outline-secondary rounded-circle" 
							   href="javascript:;">
								<i class="fas fa-plus"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="form-outline mb-3">
					<input type="text" 
						   id="inputOpenWorkshopName" 
						   name="name"
						   class="form-control form-control-lg rounded-3" 
						   required/>
					<label class="form-label" 
						   for="inputOpenWorkshopName">Full name</label>
				</div>
				
				<div class="form-outline mb-3">
					<input type="text" 
						   id="inputOpenWorkshopPhone" 
						   name="phone"
						   class="form-control form-control-lg rounded-0 border-light" 
						   required/>
					<label class="form-label" 
						   for="inputOpenWorkshopPhone">Phone</label>
				</div>
				<div class="border rounded-lg py-2 px-3 mb-3">
					<div class="d-flex row align-items-center">
						
						<div class="col-12">
							
							<small class="d-block text-body font-weight-bold d-none">Your details:</small>
							<div class="mb-3">
								<label for="exampleFormControlInput1" 
									   class="form-label">Name</label>
								<input type="text" 
									   name="name" 
									   class="form-control rounded-lg" 
									   id="exampleFormControlInput1" 
									   placeholder="e.g. Joe Smith" 
									   required>
							</div>
							<div class="mb-3">
								<label for="exampleFormControlInput2" 
									   class="form-label">Phone</label>
								<input type="text" 
									   name="phone" 
									   class="form-control rounded-lg" 
									   id="exampleFormControlInput2" 
									   placeholder="e.g. 07747123456"
									   required>
							</div>
							<div class="mb-3">
								<label for="exampleFormControlInput3" 
									   class="form-label">Email</label>
								<input type="email" 
									   name="email" 
									   class="form-control rounded-lg" 
									   id="exampleFormControlInput3" 
									   placeholder="e.g. Joe.Smith@domain.com"
									   required>
							</div>
						</div>
					</div>
				</div>

				<div class="d-flex align-items-center justify-content-between">
					<div class="">
						<p class="small pb-0 mb-0">
							<span class="booking-workshop-qty">1</span> attendees x £<span class="booking-workshop-price-single"></span>
						</p>
						<span class="fw-normal h5">Total:</span>
						<span class="h4">£</span><span class="h4 booking-workshop-price"></span>
					</div>
					<button 
							type="submit" 
							class="btn btn-dark">SEND REQUEST
					</button>
				</div> 
			</div>
			<div id="sending_form_open" class="modal-body d-none"></div>
		</form>
	  </div>
  </div>
</div>



<!-- individual modal -->

<div class="modal" 
	 id="staticBackdrop" 
	 data-bs-backdrop="static" 
	 data-bs-keyboard="false" 
	 tabindex="-1">
  <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
    <div class="modal-content" 
		 id="formContent">
      <div class="modal-header align-items-center">
        <h3 class="modal-title" 
			id="staticBackdropLabel">Book a {{ $.Param "experience_title" }}</h3>
		  <button type="button" 
				  class="btn-close" 
				  data-bs-dismiss="modal" 
				  aria-label="Close"></button>
        
      </div>
      <div class="modal-body">
		  <div class="row">
			  <form id="blendingExperienceForm" 
					class="needs-validation" 
					novalidate>
			  <fieldset>
			  <div class="col-md-10 col-lg-8 mx-auto mb-4">
				  <div class="row g-4">
					  
					  <div class="col-12 d-flex justify-content-center align-items-center"> 
					  <i class="fas fa-circle fa-lg"></i>
						  –––––
						  <i class="far fa-circle fa-lg"></i>
						  –––––
						  <i class="far fa-circle fa-lg"></i>
						 
						  </div>
					  <div class="col-12">
					  <p class="text-center">Please complete the form below and a member of staff will be in touch to confirm your blending experience.</p>
					  </div>
					  
					  <div class="col-12">
					  <h5 class="mb-0 pb-0">Your details:</h5>
					  </div>
					  <div class="col-12">
						  <div class="form-outline">
						  <input type="text" 
								 id="firstName" 
								 class="form-control"  
								 required />
						  <label class="form-label" 
								 name="firstName" 
								 for="firstName">First Name</label>
						<div class="invalid-feedback">This field is required</div>	  
						  </div>
					  </div>
					  <div class="col-12">
						  <div class="form-outline">
						  <input type="text" id="lastName" class="form-control" required />
						  <label class="form-label" name="firstName" for="LastName">Last Name</label>
							  <div class="invalid-feedback">This field is required</div>
						  </div>
					  </div>
					  <div class="col-12">
						  <div class="form-outline">
						  <input type="email" id="emailAdress" class="form-control" required />
						  <label class="form-label" name="emailAddress" for="emailAddress">Email address</label>
							<div class="invalid-feedback">This field is required</div>  
						  </div>
					  </div>
					  <div class="col-12">
						  <div class="form-outline">
						  <input type="text" id="phoneNumber" class="form-control" required />
						  <label class="form-label" name="phoneNumber" for="phoneNumber">Phone</label>
							  <div class="invalid-feedback">This field is required</div>
						  </div>
					  </div>
					  <div class="col-12 text-center">
						  <button type="button" class="btn btn-dark btn-next">Continue</button>
					  </div>
					  
				  </div>
				  </div>
			  </fieldset>
			  <fieldset>
			  <div class="col-md-10 col-lg-8 mx-auto mb-4">
				  <div class="row g-4">
					  <div class="col-12 d-flex justify-content-center align-items-center"> 
					  <i class="far fa-circle fa-lg"></i>
						  –––––
						  <i class="fas fa-circle fa-lg"></i>
						  –––––
						  <i class="far fa-circle fa-lg"></i>
						 
						  </div>
					  <div class="col-12">
					  <h5 class="mb-0 pb-0">Experience details:</h5>
					  </div>
					  
					  <div class="col-12">
					  <select class="select" data-mdb-placeholder="Please select an option" data-mdb-option-height="44" name="experience type" id="experienceType" required>
						   
						  
				<optgroup label="Fragrance Blending Experience">
    <option value="15ml fragrance blending experience" data-mdb-secondary-text="per person">15ml fragrance - £110</option>
    <option value="50ml fragance blending experience" data-mdb-secondary-text="per person">50ml fragance - £180</option>

  </optgroup>
  <optgroup label="Home Fragrance Blending Experience">
    <option value="home fragrance blending - 100ml reed diffuser and room mist" data-mdb-secondary-text="100ml Reed Diffuser and Room Mist - £110 per person">100ml Reed diffuser and Room Mist - £110</option>

  </optgroup>		  


</select>
<label for="experienceType" class="form-label select-label">{{ $.Param "experience_title" }} option</label>
					  <div class="invalid-feedback">This field is required</div>
					  </div>
					  <div class="col-12">
						   <div class="form-outline mb-4">
    <input type="text" id="participants" class="form-control" required />
    <label class="form-label" name="participants" for="participants">Number of participants (min 1, max 5)</label>
							   <div class="invalid-feedback">This field is required</div>
  </div> 
						  
					  </div>
					  
					  <div class="col-12">
					  <h5 class="mb-0 pb-0">Date and Time:</h5>
					  </div>
					  <div class="col-12">
						<div class="form-outline datetimepicker" data-mdb-toggle-button="false">
							<input type="text" class="form-control mb-3" id="preferredDateTime" name="preferredDateTime" data-mdb-toggle="datetimepicker" required />
							<label for="preferredDateTime" class="form-label">Preferred Date and Time</label>
							<div class="invalid-feedback">This field is required</div>
						  </div>
					  </div>
					  
					  <div class="col-12">
						<div class="form-outline datetimepicker" data-mdb-toggle-button="false">
							<input type="text" class="form-control mb-3" name="alternativeDateTime" id="alternativeDateTime" data-mdb-toggle="datetimepicker" required />
							<label for="alternativeDateTime" class="form-label">Alternative Date and Time</label>
							<div class="invalid-feedback">This field is required</div>
						  </div>
					  </div>
					  <div class="col-12 text-center d-flex justify-content-between">
						  <button type="button" class="btn btn-outline-dark btn-previous">back</button>
						  <button type="button" class="btn btn-dark btn-next">Continue</button>
					  </div>
					 
	
			  </div>
				  </div>
		</fieldset>
			  
			  <fieldset>
			  <div class="col-md-10 col-lg-8 mx-auto mb-4">
				  <div class="row g-4">
					 
					  <div class="col-12 d-flex justify-content-center align-items-center"> 
					  <i class="far fa-circle fa-lg"></i>
						  –––––
						  <i class="far fa-circle fa-lg"></i>
						  –––––
						  <i class="fas fa-circle fa-lg"></i>
						 
						  </div>
					  
					  <div class="col-12">
					  <h5 class="mb-0 pb-0">Are you brining a guest?</h5>
						  <p>Please note that your guest will not be blending their own fragrance. However, they can help you create yours by partaking in the scent discovery session with you and they are also free to enjoy complimentary drinks. Non participants, with thee exception of the paid guest, will not be allowed to remain on-site during the experience. Limited to one guest per participant at a cost of £60 per guest.</p>
					  </div>
					  <div class="col-12">
					  <select class="select" id="guest" name="guest">
						  <option value="Yes">Yes</option>
						  <option value="No" selected>No</option>
						  </select>
						  <label class="form-label select-label">Guest</label>
					  </div>
					  
					 
					  <div class="col-12">
						  <div class="form-outline">
						  <input type="text" id="giftCardCode" class="form-control" />
						  <label class="form-label" name="giftCardCode" for="giftCardCode">Gift Card Code (if using towards experience)</label>
						  </div>
					  </div>
					  <div class="col-12">
						  <div class="form-outline">
							  <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
							  <label class="form-label" for="textAreaExample">Any further details</label>
						  </div>
					  </div>


					  <div class="col-12 text-center d-flex justify-content-between">
						  <button type="button" class="btn btn-outline-dark btn-previous">back</button>
						  <button type="submits" class="btn btn-dark">SUBMIT REQUEST</button>
					  </div>
					  
				  </div>
				  </div>
			  </fieldset>
			</form>	  
      </div>
		</div>
      <div class="modal-footer d-none">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
	  
	  <div class="modal-content d-none" id="sending_form">
		 	
	  </div>
  </div>
</div>



<!-- private group modal -->

<div class="modal fade" 
	 id="privateWorkshopModal" 
	 data-bs-backdrop="static" 
	 data-bs-keyboard="false" 
	 tabindex="-1" 
	 aria-labelledby="exampleModalLabel" 
	 aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		  <button type="button" 
				  class="btn-close" 
				  data-bs-dismiss="modal" 
				  aria-label="Close">
		  </button>
      </div>
		<form id="privateWorkshopForm">
			<div class="sending-form modal-body d-none p-3"></div>
			<div class="modal-body form_body">
				
				<ul class="list-group list-group-flush">
					<li class="list-group-item d-flex justify-content-between align-items-center py-3 px-0">
						<div class="flex-fill">
							<input readonly="readonly" 
								   type="text" 
								   name="WorkshopTitle" 
								   class="form-control form-control-lg p-0 m-0 text-capitalize fw-bold border-0 bg-white booking-workshop-title w-100" 
								   value="{{ $.Param "experience_title" }}"/>
	
						</div>
					</li>
				</ul>
				
				
				<div class="border rounded-lg py-2 px-3 mb-3">
					<div class="d-flex row align-items-center">
						<div class="col-7">
							<small class="d-block text-body font-weight-bold">Number of people:</small>
							<input type="number"  
								   max="{{ $.Param "pricing.max_people" }}" 
								   id="PrivateWorkshopQty" 
								   name="Attendees" 
								   class="product-qty-input js-result form-control h-auto border-0 rounded-lg p-0" 
								   value="1">
						</div>
						<div class="col-5 text-end">
							<a class="js-minus btn btn-xs btn-icon btn-outline-secondary rounded-circle" 
							   href="javascript:;">
								<i class="fas fa-minus"></i>
							</a>
							<a class="js-plus btn btn-xs btn-icon btn-outline-secondary rounded-circle" 
							   href="javascript:;">
								<i class="fas fa-plus"></i>
							</a>
						</div>
					</div>
				</div>
				
				<div class="border rounded-lg py-2 px-3 mb-3">
					<div class="d-flex row align-items-center">
						<div class="col-12">
							<div class="mb-3">
								
								<label for="workshopDate" 
									   class="form-label">Preferred Date</label>
								<input type="text" 
									   name="date" 
									   class="form-control rounded-lg" 
									   id="workshopDate" 
									   data-mdb-input-mask="99/99/9999" 
									   data-mdb-mask-placeholder="true" 
									   data-mdb-char-placeholder="DD/MM/YYYY" 
									   data-mdb-input-placeholder="false" 
									   placeholder="e.g. 03/09/2021" 
									   required>
								
							</div>
							
							<div class="mb-3">
								<label for="workshopTime" 
									   class="form-label">Preferred Time</label>
								<input type="text" 
									   name="time" 
									   class="form-control rounded-lg" 
									   id="workshopTime" 
									   data-mdb-input-mask="99:00" 
									   data-mdb-mask-placeholder="true" 
									   data-mdb-char-placeholder="HH:MM" 
									   data-mdb-input-placeholder="false" 
									   placeholder="e.g. 18:00" 
									   required>
							</div>
							
							<div class="mb-3">
								<label for="workshopName" 
									   class="form-label">Name</label>
								<input type="text" 
									   name="name" 
									   class="form-control rounded-lg" 
									   id="workshopName" 
									   placeholder="e.g. Joe Smith" 
									   required>
							</div>
							<div class="mb-3">
								<label for="workshopPhone" 
									   class="form-label">Phone</label>
								<input type="text" 
									   name="phone" 
									   class="form-control rounded-lg" 
									   id="workshopPhone" 
									   placeholder="e.g. 07747123456" 
									   required>
							</div>
							<div class="mb-3">
								<label for="workshopEmail" 
									   class="form-label">Email</label>
								
								<input type="email" 
									   name="email" 
									   class="form-control rounded-lg" 
									   id="workshopEmail" 
									   placeholder="e.g. Joe.Smith@domain.com" 
									   required>
							</div>
						</div>
					</div>
				</div>

				<div class="d-flex align-items-center justify-content-between">
					<div class="">
						<p class="small pb-0 mb-0"><span class="private-workshop-qty">1</span> attendees</p>
						<span class="fw-normal h5">Total:</span>
						<span class="h4">£</span><span class="h4 private-workshop-price"></span>
					</div>
					<button type="submit" 
							class="btn btn-dark">SEND REQUEST</button>
				</div> 
			</div>
			
		</form>
	  </div>
  </div>
</div>















{{ end }}



