{{ define "main" }}
   <!-- Hero Section -->
<div class="container space-top-1 space-top-lg-2 space-bottom-lg-2 space-bottom-2">
 <!-- Title -->
<div class="w-lg-65 text-center mx-lg-auto mb-5 mb-md-9">
        <h1 class="text-uppercase font-weight-bold">{{ .Params.heading }}</h1>
		  <p class="lead">{{ .Params.subHeading }}</p>
      </div>
      <!-- End Title -->
    </div>

 <!-- Divider -->
<div class="container">
      <div class="w-lg-65 mx-lg-auto">
        <hr class="my-0">
      </div>
    </div>
 <!-- end Divider -->
<div class="container py-5">
		<div class="col-lg-8 col-md-10 col-lg-11 mx-auto mb-5">
	{{ .Content }}
	</div>
	</div>

</div>
{{ end }}


