{{ define "main" }}

  <div class="container py-5">

	  {{- partial "breadcrumb.html" . -}}
   
 
   <!-- Categories Section -->
 
      <!-- Title -->
      <div class="w-md-80 w-lg-40 text-center mx-md-auto mb-5 mb-md-9">
        <h2>The better way to shop with Front top-products</h2>
      </div>
      <!-- End Title -->

      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">

		  
		  
		  {{ range .Site.Data.catagories }}
		  	{{ partial "cat-card.html" . }}
		  {{ end }}

     
      </div>
</div>
{{ end }}