{{ define "main" }}
<div class="container py-5">
	<div class="row">
	  <div class="col-lg-8 col-md-10 col-lg-11 mx-auto mb-5">
		  <h1 class="text-uppercase font-weight-bold"> {{ .Params.heading }}</h1>
		  <p class="lead">{{ .Params.Description }}</p>
	    
	  </div>
		
	</div>
	<div class="row">
		<div class="col-lg-8 col-md-10 col-lg-11 mx-auto mb-5">
	{{ .Content }}
	</div>
	</div>

</div>
{{ end }}


