{{ define "main" }}
<div class="container">
	<div class="row mb-5 mb-lg-0 space-lg-2">

	  <div class="col-lg-6">
		  <h1 class="text-uppercase font-weight-bold"> {{ .Params.heading }}</h1>
		  <p class="lead">{{ .Params.subHeading }}</p>
	    {{ .Content }}
	  </div>
	  		<div class="col-lg-6">
			
			<img src="{{ .Params.Feature_image }}" class="img-fluid" alt="{{ .Params.image_alt_tag }}">
			
		</div>
	</div>
	

</div>
{{ end }}