<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
       
			
			<div class="container">
				<div class="row my-5">
					<div class="col-xl-10 mx-auto">
						<h1 class="text-uppercase">Terms and conditions</h1>
						<p class="mb-5">Last updated September 21, 2021</p>
						<p> These terms and conditions (the &#8220;Terms&#8221;) are the terms which apply when you use the website humos.co.uk or any products or services offered by us. By using any part of this website, completing your customer registration with us, placing an order and/or booking a workshop, experience or treatment through the website you agree to be bound by the terms.</p>
						<p class="mb-5"> The following terminology applies to these Terms and Conditions and any or all Agreements: &#8220;Participant&#8221;, &#8220;Purchaser&#8221;, &#8220;Consumer&#8221;, &#8220;Customer&#8221;, &#8220;Client&#8221;, &#8220;You&#8221; and &#8220;Your&#8221; refers to you, the person accessing this website and accepting the Company&#8217;s terms and conditions. &#8220;The Company&#8221;, &#8220;Ourselves&#8221;, &#8220;We&#8221; and &#8220;Us&#8221;, refers to our Company The Nature Lab Ltd. &#8220;Party&#8221;, &#8220;Parties&#8221;, or &#8220;Us&#8221; refers to both the customer and ourselves, or either the customer or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express accordance with and subject to, prevailing English Law. Any use of the above terminology or other words in the singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
						
						<h2 class="fw-bold">1. Who we are</h2><p class="mb-5">This website is owned and operated by The Nature Lab Ltd., Trading as HUMOS. The Nature Lab ltd. is a company registered in England and Wales. Registration Number 08553206. Our registered office is 5 Church Rd, Caversham, Reading, RG4 7AA, United Kingdom.</p>
						
						<h2 class="fw-bold">2. Privacy</h2>
						<p class="mb-5">We are committed to protecting your privacy and any information we collect and/or hold about you. Please refer to our <a class="btn-link text-dark fw-bold" href="/privacy-policy/">privacy policy</a> for further information.</p>
						
						<h2 class="fw-bold">3. Cookie policy</h2>
						<p class="mb-5">Please use your browser settings to determine which cookies our website uses.</p>
						
						<h2 class="fw-bold">4. Changes to these Terms and Conditions</h2>
						<p>We reserve the right to change or modify these Terms at any time where it is necessary in the course of our business to do so, including but not limited to for legal, regulatory or security reasons. We will not be obligated to notify you of any changes, whether minor or substantial, to these terms. You are required to review these terms when purchasing any product or services from us to ensure that you agree to the proposed way in which we will deal with you and/or your purchase.</p>
						<p class="mb-5">Any changes to these terms are effective immediately upon posting to the website. Any changes made after you have placed an order or received a service from us will not affect that order, unless we are requred to make the change by law, but may affect a booked experience, workshop or treatment. if you have any questions, concerns or comments about our terms, please contact us on +44 (0)118 948 1209 or email support@humos.co.uk and we will be happy to help you.</p>
						
						 <h2 class="fw-bold">5. Use of this website</h2>
						<p>By accepting the terms you confirm that all information and details provided by you to us (including, but not limited to; account registration, placing an order, booking a treatment, workshop or experience) are true, accurate and up to date in all respects.</p>
						<p class="lead mb-0">You agree that in using the website, you will not:</p>
						<ul class="list-unstyled">
							<li class="fs-5 ms-5">Use the website in any way that causes, or is likely to cause the website or access to the website to be interuppted, damaged or impaired in any way;</li>
							<li class="fs-5 ms-5">use the website for any purpose that could damage the name of The Nature Lab t/a Humos or impair the goodwill or reputation associated with our brand; (iii) use the website for criminal, fraudulent or illegal activity or in any manner which would cause harm or distress to any third party;</li>
							<li class="fs-5 ms-5">access or attempt to access the accounts of other users or attempt to penetrate the website security measures; nor</li>
							<li class="fs-5 ms-5">use the website for any purpose other than for your own personal use.</li>
						</ul>
						
						<p>We reserve the right to suspend, restrict or terminate your access to the website, workshops, experiences, products or services we offer at any time without notice or reason if we have reasonable grounds to believe that you have breached any of these restrictions or if we suspect fraudulent account activity or behaviour.</p>
						<p class="mb-5">While we will take all reasonable steps to ensure a fast and reliable service, we do not guarantee that your use of this website will be interruption or error free and we will not be responsible for any disruption, loss of or corruption of any material in transit, or loss of or corruption of material or data when downloaded onto any computer system.</p>
						
						<h2 class="fw-bold">6. Making an order for goods</h2>
						<p>
							Once you have submitted an order for goods, you will be sent an e-mail confirmaiton receipt of your order (the &#8220;order confirmaiton&#8221;). You will receive a further email from us once the goods have been dispatched; at this point a binding contract will be concluded between us. No gurantee of delivery will be offered for any e-mail communication in relation to your order and we recommend adding both orders@humos.co.uk and support@humos.co.uk list to ensure our email communications will be delivered to you.</p>
						<p>The images of the products on our website are for illustrative purposes only and the packaging of the product may vary from that shown in the images on our website.</p>
						<p>We will take all reasonable care to ensure that all details, descriptions, and images of products appearing on the Site are correct at the time when the relevant information was entered onto the system; however, to the extent permitted by applicable law, we do not warrant that the product descriptions, colours or other content available on the Site are accurate, complete, reliable, current, or error-free.</p>
						<p>Although we aim to keep the Site as up to date as possible, the information including product descriptions appearing on this Site at a particular time may not always reflect the product exactly at the moment you place an order. We cannot confirm the price of a product until your order is accepted in accordance with our order acceptance policy.</p>
						<p>If we are unable to accept your order, we will inform you of this and, where payment has already been made, will refund the payment to the original payment method. This might be because the product is out of stock, because of unexpceted limites on our resources for which we could not reasonably plan for, because we have identified an error in the price or description of the product or because we are uanble to meet a delivery deadline that you have specified.</p>
						<p class="mb-5">If you wish to change or cancel your order that has not yet dispatched, please call our Customer Services team on +44 (0)118 948 1209 or send an email to support@humos.co.uk as soon as possible. We will let you know if the change is possible and about any changes to the price of the product, the timing of supply or anything else which would be necessary as a result of the requested change and ask you to confirm whether you wish to go ahead with the change. We may change the product to reflect chanes in relevant laws and regulatory requirements.</p>
						
						<h2 class="fw-bold">7. Registering for an account</h2>
						<p>To make it easier for you to order products using our website, we offer you the opportunity to register for a personal account.</p>
						<p>To register for a personal account you must supply us with certain personal information. Once you have created an account, you will be able to access, update or correct your personal details using the &#8220;account details&#8221; button. We will only use the personal informaiton you provide to us in accordance with our privacy policy.</p>
						<p class="mb-5">Please keep your password and user name private. If you suspect any activity on your account that is not carried out by you, please let us know immediately.</p>
						
						<h2 class="fw-bold">8. Price</h2>
						<p class="mb-5">All prices are quoted in pounds sterling and are inclusive of VAT, if applicable, (as may be prescribed by law from time to time), unless otherwise specified. Posting and packing prices may be charged in additon to the price of any goods.</p>
						
						<h2 class="fw-bold">9. Payment</h2>
						<p>Online payment will be provided in a secure enviroment. Payments must be made by one of the following card payment methods &#8211; Visa, MaterCard, American Express. Our payment processor, SquareUp, may have their own terms and conditions and privacy policy which applies to your payment. Please see their website for further details.</p>
						
						<p>Gift card payments are not accepted online and can only be redeemed in-store.</p>
						
						<p class="mb-5">Fraudulent use of credit or debit cards will be reported to the relevant authorities. If the issuer of your payment card refuses to pay or does not for any reason authorise the payment to us, we will not be liable for any delay or non-delivery of the products and may cancel or suspend your order until cleared funds for payment have been received by us.</p>
						
						<h2 class="fw-bold">10. Delivery</h2>
						<p>Delivery times may vary. Deliverys are made via Royal Mail unless over 4kg, where another courier service will be used. Delivery charges vary and will be quoted at checkout prior to payment.</p>
						<p>We will aim to deliver the products to you as soon as reasonably possible and in any event within 30 working days after the day on which we accept your order. An accepted order means payment funds have been authorised by your card issuer and cleared funds have been received.</p>
						<p>Please note that any next day delivery service offered is not guranteed, a delivery attempt will be made where possible and a signature is required upon delivery.</p>
						<p>If our supply of the products is delayed by an event outside our control or for any other reason, we will contact you as soon as possible and will take steps to minimise the effect of the delay. Provided we do this we will not be liable for delays caused by the event, but if there is a risk of substantial delay, you may contact us to end the contract and receive a refund for any products you have paid for but have not yet been dispatched.</p>
						<p class="mb-5">You will be responsible for all loss and dmange to the goods after they have been delivered to you.</p>
						
						<h2 class="fw-bold">11. Ownership</h2>
						<p class="mb-5">We will retain ownership of the goods until full payment has been made and funds have cleared.</p>
						
						<h2 class="fw-bold">12. Re-sale of our products</h2>
						
						<p class="mb-5">Unless a re-seller or stockist agreement is in place with us, all products which are made available on our website are for your personal use only and you may not sell or re-sell any of the products to anyone, including but not limited to, making them available for sale on any third party website. We reserve the right to cancel any ordfers to you where we believe that you are intending to sell our products on.</p>
						
						<h2 class="fw-bold">13. Cancellations and returns of orders for goods</h2>
						<p>If you wish to change or cancel an order that has not yet been dispatched, please call us on +44 (0)118 948 1209 or send an email to support@humos.co.uk as soon as possible. Any changes to orders are dependant on stock and cannot always be changed. Please note we may not be able to cancel ordfers during peak periods.</p>
						
						<p>If for any reason you are not completely satisfied with youro rder or you change your mind, you may return any product in its original condition for a full refund or replacement (as appropriate) within 30 days or the original purchase date. Original condition means that there are no scratches or marks on the product and the product&#8217;s packaging has not been opened, damanaged and/or any security seal has been broken, removed or tampered with and the product has not been used oro pened and is in a re-saleable condition.</p>
						<p>We are unable to accept returns on products not purchased online at humos.co.uk or from a HUMOS shop. If you have purchased a product from one of our authorised retailers or re-sellers, please contact them directly.</p>
						<p class="lead mb-0">In accordance with your statutory rights, you may return products:</p>
						<ul class="list-unstyled">
							<li class="fs-5 ms-5">where there has been an error in the price or description of the product ordered or they are otherwise not as described; or</li>
							<li class="fs-5 ms-5">The product is faulty (i.e. unfit for purpose)</li>
						</ul>
						<p>You are entitled to ar eturn where the products are returned to us within 30 days of purchase. After 30 days, you are entitled to a replacement product only.</p>
						<p>If your package is visibly damaged on delivery, please tell the person deliverying your goods that you wish to sign as &#8216;received damanaged&#8217;.</p>
						<p>If your goods are received as failty or damanaged once opened, please call our customer services team on +44 (0)118 948 1209 within 24 hours of receiving your order or contact us via email at support@humos.co.uk</p>
						<p>Please note we may require images and/or videos of any damange for our records and may need to collect the product(s) for testing befor a replacement or refund is issued.</p>
						<p>In order for us to process your return as quickly as possiblem please email support@humos.co.uk to receive a returns authorisation code. No return will be accepted without a returns authorisation code. You will be notified by email once your return(s) have been received and processed.</p>
						<p>Please ensure that the package is wrapped securely and for your protection we recommend taht you use a recorded delivery service as we cannot accept liability for goods lost in transit or damanaged during return. In the event the goods are not faulty, you will be responsible for return postage costs.</p>
						<p>If you require a refund, we will initiate a refund the price paid by you for the product(s) within fourteen (14) days of receiving your returned products. Once a refund has been initiated, it can take up to 30 days to reflect in your bank account.</p>
						<p>Products purchased as a set can only be returned as a complete set, not as individual items. If a promotional gift has been included in your order, and a return is made reducing the qualifying total for this gift, the full ordfer must be returned.</p>
						<p>When returning goods which you bought using a discount or offer, we will adjust the refund accordingly if you fall below the discount/offer threshold, as that discount or offer will no longer apply.</p>
						<p class="mb-5">Any orders placed with or through a retail location other than a HUMOS shop will need to be returned to the place of purchase. Please contact the business you purchased from to arrange a return. Any return with them will need to be made in accordance with their own returns/cancellation policy and should not be returned directly to us.</p>
						
						<h2 class="fw-bold">14. Exclusions, limitations and our liability</h2>
						<p>Nothing in these terms seek to exclude or limit liability for death or personal injury arising as a result of negligence caused by us, our directors or any of our staff or for fradulent misrepresentation.</p>
						<p class="lead mb-0">The information on this website is provided on an &#8220;as is&#8221; basis. To the fullest extent permitted by law, this company:</p>
						<ul class="list-unstyled">
							<li class="fs-5 ms-5"> exclusdes all representations and warranties relating to this website and its contents or may be provided by any affiliates or any other third party, including in relation to any inaccuracies or omissions in this website and/or the company&#8217;s literature; and</li>
							<li class="fs-5 ms-5"> excludes all liability for damages arising out of or in connection with your use of this website and/or any services provided by the company and/or any products retailed by the the company where the products and/or services were not used in accordance with our direct instructions. This includes, without limitation, direct loss, loss of business or profits (whether or not the loss of such profits was foreseeable, arose in the normal course of things or you have advised this company of the possibility of such potential loss), damage caused to your company, computer software, systems and programs and the date there on or any other or direct or indirect, consequential or incidental damage.</li>
						</ul>
						<p>If we fail to comply with these terms, we are responsible for losso r damanage you suffer that is a foreseeable result of our breaking our contract or our fialing to use reasonable care and ski,, but we are not responsible for any losso r damage that is not foreseeable. Loss or damange is foreseeable if either it is obvious that it will happen or if, at the time the contract was made, both we and you knew it might happen, for example, if you discussed it with us during the sales process and the conversation is in a traceable, recorded format. i.e. email or a recorded phone call.</p>
						<p>If the customer is a business, our total liability for all losses arising under or in connection with any contract between us, wehther in contract, tort (including negligence), breach of statutory duty, or otherwise, shapp be limited to 100 percent of the total sums paid by the customer for products under such contact.</p>
						<p>We are not liable for any personal items left at or brought in to the premises of HUMOS, including but not limited to, theft, loss or damage of personal property or for any travel/accomodation costs.</p>
						<p class="mb-5">You are responsible for any loss or damage to any property of the venue at which a workshop/experience/treatment takes place and you are a participant and/or the cause the cause of said loss or damage.</p>
						
						<h2 class="fw-bold">15. Third party and external links</h2>
						<p class="mb-5">We will not be liable or responsible for your use of any other websites which may be accessed via links within this website. We do not control these websites and are not responsible for their content or any implications occuring out of your access to these websites. Any such links are provided merely as a service to users and their inclusion does not constritute any form of endorsement by or affilation with us.</p>
						
						<h2 class="fw-bold">16. Intellectual property and copyright</h2>
						<p>HUMOS is a trading name of The Nature Lab ltd., who is the registered owner of the HUMOS trade-marks used by us int he course of our business.</p>
						<p>The contents of this website, workshop materials, experience materials, treatment materials and products, including but not limited to: labelling, branding, packaging, workshop/experience/treatment methodolgy and/or materials/fragrance/perfume, pictures, designs, themes, logos, photographs, text, software and all other materials (the &#8220;Materials&#8221;) are owned by The Nature Lab Ltd or its third party licensors. You are not permitted to copy, reproduce, download, post, record, transmit, comercially exploit, edit or distribute the materials in any way without our prior written permission. All use of the materials is on the basis that you are using this website in good faith for domestic purposes or for the purcposes of placing an order with us and/or booking or partaking in an experience/workshop/treatment offered by the company or placing an order for goods.</p>
						<p>Any products and/or services we may provide to workshop participants (including any fragrance/perfume/product created, to take home as is or as a refill) are for personal use only. You are not permited to sell or re-sell any of the products and/or services they receive from us.</p>
						<p>During our workshops, experiences and treatments, some ingredients used are blends created by the HUMOS perfumer exclusively for our company and remains the exclusive property of our company. You acknowledge and agree that any fragrance/perfume/product created during a workshop/experience/treatment is a collaboration between the participant and our company and does not extend any copyrights of the creation to you.</p>
						<p class="mb-5">Any fragrance/perfume/product developed by us for brands and/or businesses under a &#8216;white labelling&#8217; service are not attached to our company and you may not reference our company in any branding/packaging/literature, other than where required to by law, without express written permission from us.</p>
						
						<h2 class="fw-bold">17. Health and safety</h2>
						<p>We only use high quality perfume and/or natural ingredients that are used and approved by the fragrance trade and sourced from leading fragrance and ingrediets manufacturers.</p>
						<p>To create bespoke fragrances and products during workshops, experiences and/or treatments, we use a selection of natural ingredients, synthetic perfumery ingredients and perfume bases.</p>
						<p>We work with concentrations of ingredients that limit any potential risk of toxicity and allergy to a strict minimum. However, our workshops, experiences and/or treatments may involve the use of pre-diluted perfumy ingredients. Those with allergies and sensitivities are advised to take this into consideration.</p>
						<p>No liability shall be accepted for your use of bespoke fragrances and products created during workshops, experiences and/or treatments that result in any reactions, damages or harm. Your use of these products is at your own risk.</p>
						<p>Participants of workshops, experiences and/or treatments acknowledge that the formula of their products/fragrance, resulting from a combination of individual ingredients chosen by them and/or chosen by any memeber of staff, won&#8217;t be certified by a qualified laboratory. Therefore, participants acknowledge that it may contain a combination of ingredients that exceeds the recommend levels from IFRA (International Fragrance Association).</p>
						<p>Participants of workshops, experiences and/or treatments also acknowledge that they may be in contact with fragrance substances that present allergen potential – check the list of fragrance allergens which need acknowledgement according to the Eurdopean Cosmetic Directive. If you have any known allergy to fragrance ingredients and/or product ingredients, let us know before signing up or seek independent advice from a professional expert or medical doctor before you participate in a workshop, experience and/or treatment.</p>
						<p>Pre-made blends are provided during experiences, workshops and/or treatments and considered as the individuals &#8220;ingredients&#8221; blended in your fragrance/product. Our blends comply with IFRA standards, however, the same points mentioned above apply to the fragrance and/or product created during or in relation to any workshop, experience and/or treatment.</p>
						<p>Protective equipment such as goves can be provided during any workshop, experience and/or treatments where necessary and requested and we recommend testing your fragrance/product on a small area of your skin before regular use. All fragrances made during workshops, experiences and/or treatments may contain alcohol, whic his flammable. Any products should not beused near fire, flame or heat and they should not be swallowed or ingested and are for external use only.</p>
						<p class="mb-5">For any fragrances or products developed specifically for brands, businesses and individuals, all our formulae comply to cosmetic legislation and IFRA standards and can be certified by a qualified laboratory for an additional fee.</p>
						
						<h2 class="fw-bold">18. Participant requirements for experiences, workshops and/or treatments and/or services</h2>
						<p class="lead mb-0">In order to particpate in or benefit from any experience, workshop, treatment or service offered by us, you must:</p>
						<ul class="list-unstyled">
							<li class="fs-5 ms-5"> be 18 years of age on or before the date of any experience/workshop/treatmentis due to take place on; and</li>
							<li class="fs-5 ms-5"> be of sound body and mind and legally able to sign any waivers and/or contracts; and</li>
							<li class="lead ms-5 mb-5"> not be allergic and/or sensitive to any of the products/ingredients to be used during any the scheduled experience/workshop/treatment.</li>
						</ul>
						
						<h2 class="fw-bold">19. Booking, cancellation, rescheduling and refund policy for workshops, experiences and treatments and gift cards.</h2>
						<p>Advanced bookings are required for all workshops, experiences and treatments. We recommend booking with as much notice as possible to avoid disappointment as navailability for your desired date/time will not extend or trigger any refund of any tickets and/or gift cards. We therefore recommend you book with as much notice as possible and no less than 30 days prior to any expiry date.</p>
						<p>To better manage our calendar and offerings we operate a cancellation policy for all booked experiences, workshops and treatments.</p>
						<p>Each workshop, experience and/or treatment may be subject to terms and conditions that are listed on the informational page on this website and/or the booking page and/or printed material. If there is a contradiction or conflict of terms between what is listed on the informational page, booking page or printed material the company will, at it&#8217;s sole discretion, make a decision as tow hich specific terms are valid. The below terms may beedited without notice and will be applicable to all past, present and future bookings for workshops, experiences, treatments and/or any other service that we may make available.</p>
						<p>For all group workshops/experiences, we require a minimum notice of 30 calendar days to cancel or reschedule. Any cancellation or rescheduling of a booked group workshop/experience where you have given less than 30 days notice will result in the deposit being forefited. Any remaining balance can be carried forward to a future group workshop/experience booking. Group workshops/experiences are treated as a single booking. If a member of your party is no longer able to attend, this cancellation policy will still apply, with that member losing their allocated deposit if the appropriate notice is not given. Group workshops/experiences cannot be rescheduled in parts or divided up and must be rescheduled as one group to a future date.</p>
						<p>Tickets to our open workshops are non-refundable and non-exchangable. If you are unable to attend the workshop your ticket is valid for, you can transfer your ticket to another future workshop of equal or greater value by providing at least 15 calendar days notice. Where the new workshop is of greater value, the difference in price from your original ticket price and the new workshop price will be payable in advance no less than 15 calendar days prior to the new date.</p>
						<p>We require 7 working days notice, subject to confirmation in writing from us if you would like to cancel a booked/scheduled treatment. Any cancellations of a booked/scheduled treatment with less than 7 working days notice will result in the full charge being levied.</p>
						<p>If you would like to reschedule a booked/scheduled treatment, you can do so only once per booking by giving at least 3 days notice. Any rescheduled appointments cannot be cancelled once rescheduled. Any treatments rescheduled with less than 3 days notice will result in the full charge being levied.</p>
						<p clas="lead">In the unlikely event that we have to cancel your booked experience, workshop, ticket or treatment due to unforeseen circumstances including, but not limited to: goverment closure orders and illness, we will aim to give you as much notice as possible and re-book you to an alternative date. Unfortuantely we are unable to offer refunds in these circumstances.</p>
						<p>If we are uanble to accept your booking for any reason, such as a workshop being overbooked by ourselves or the minimum number of attendees not being reached, we will offer a refund or the option to reschedule you on to the next available appointment/workshop/experience.</p>
						<p class="mb-5">All gift cards for expeiences/treatments/nominal amounts are valid for 12 months from the date of purchase and re non refundable and non-transferable. Any booking in relation to an experience or treatment where your primary payment method will be the gift card should be made at least 3 0days bedore the end of the validity period. Gift cards cannot be redeemed, as whole or in part, outside of the validity period and any remaining balance will be forefited.</p>
						<p>Our workshops and experiences are structure to include as much we can, so starting on time is vital. It is therefore essential that you arrive promptly for your workshop, at least 10 minutes before the scheduled start time. If you arrive late, the workshop or experience may of started and you may not be allowed to join. Refunds or rescheduling is not provided in this instance. Any lateness for treatments or single experiences will result in a shorter session or the treatment/experience being cancelled and the full charge levied.</p>
						<p class="mb-5">All corporate bookings are invoiced 30 days in advance and the above cancellation policy for groups will apply.</p>
						
						<h2 class="fw-bold">20. Law and jurisdiction</h2>
						<p class="mb-5">These terms and your use of this website and/or any services/products we offer are governed by English aw and yu agree to submit to the exclusive jurisdiction of the English court. This does not affect your statutory rights.</p>
						
						<h2 class="fw-bold">21. General</h2>
						<p>We may transfer our rights and/or obligations, either in part or as a whole, under these terms to another organisation or person at any point, without notice. We will ensure that should any transfer occure this will not affect your rights under this contract. You may only transfer your rights and/or obligations under these terms to another person or organisation if we agree to this in writting. We may not agree if there is a likelihood that a breach of contract my occur.</p>
						<p>This contract is between you as the customer and the nature lab ltd. No other person shall have any rights to enforce any of its terms. Niether of us will need to get the agreement of any other person in order to end the contract or make any changes to these terms.</p>
						<p>Each of hte paragraphs of these terms operates seperately. If any court or relevent authority decides taht any of them are unlawful, the remaining paragraphs will remain in full force and effect. If we do not insist immediately that you do something that these Terms require you to do, or if we delay in taking steps in respect of a breach of any contract, this will not prevent us from taking steps at a later date.</p>
						<p class="mb-5">While we use reasonable endeavours to ensure that the information on this website is accurate and up to date, it does not give any warranty as to its accuracy or completeness and we will not be responsible for any errors or omissions or for the results arising from the use of such information.</p>
						
						<h2 class="fw-bold">22. Complaints</h2>
						<p class="mb-5">If you wish to complain about any matter in respect of any goods or services that we provide, please contact Customer Services on +44 (0)118 948 1209 or email support@humos.co.uk</p>
						
						
						
					</div>

				</div>
			</div>
		
		
	
		
       
        {{- partial "footer.html" . -}}
    </body>
</html>
