---
title: "Contact Customer Service | HUMOS"
description: "To contact customer service, please choose from one of the options below and we'll do our best help."
layout: "page"
---
   <!-- Hero Section -->
<div class="space-top-1 space-bottom-1">
 <!-- Title -->
<div class="w-lg-65 text-center mx-lg-auto">
        <h1>Customer Service</h1>
      </div>
      <!-- End Title -->
    </div>

 <!-- Divider -->
      <div class="w-lg-65 mx-lg-auto mb-5">
        <hr class="my-0">
      </div>
  <!-- end Divider -->
<div class="row">

<div class="col-md-4 mb-md-5">
<h3>Opening Hours:</h3>
 </div>
 <div class="col-md-8 mb-md-5 mb-5">
<ul class="list-unstyled fs-5">
        <li><span class="me-2">Monday:</span>CLOSED</li>
        <li><span class="me-2">Tuesday:</span>10am &#8211; 7pm</li>
        <li><span class="me-2">Wednesday:</span>10am &#8211; 7pm</li>
        <li><span class="me-2">Thursday:</span>10am &#8211; 7pm</li>
        <li><span class="me-2">Friday:</span>10am &#8211; 7pm</li>
        <li><span class="me-2">Saturday:</span>10am &#8211; 7pm</li>
        <li><span class="me-2">Sunday:</span>11am &#8211; 3pm</li>
    </ul>

</div>    
    
<div class="col-md-4 mb-md-5">
<h3>Call us:</h3>
 </div>
 <div class="col-md-8 mb-md-5 mb-5">
<p>To contact customer services via phone, please call <span class="font-weight-bold">+44 (0)118 948 1209</span> during opening hours. If your query is in relation to an order, please have your order number to hand.</p>
</div>
<div class="col-md-4 mb-md-5">
<h3>Write to us:</h3>
</div>
<div class="col-md-8 mb-md-5 mb-5">
<p>Please send your written correspendance to the following address. Please ensure to include a contact number and a return address.</p>
<p><span class="fw-bold">Customer Service</span>
<br>
HUMOS
 <br>
5 Church Road
<br>
Caversham
<br>
Reading
<br>
Berkshire
<br>
RG4 7AA
<br>
United Kingdom
</p>
</div>
<div class="col-md-4 mb-md-5">
<h3>Email us:</h3>
</div>
<div class="col-md-8 mb-md-5 mb-5">
<p>Please email <span class="fw-bold"> support@humos.co.uk</span> and we'll be in touch as soon as we can.</p>
</div>
</div>

