
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Shopping Cart</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
	  <p class="text-center mb-3">Your shopping cart is empty</p>
	
		  <button type="button" class="btn btn-outline-dark rounded-pill w-100 mb-2" data-bs-dismiss="offcanvas">Continue Shopping</button>
	 
		  <button type="button" class="btn btn-dark rounded-pill w-100 mb-2">Checkout</button>

	  


  </div>
</div>

