<div class="col mb-4">
	<!-- Card -->
	<div class="card card-bordered shadow-none d-block h-100 rounded-3">
		<div class="card-body d-flex align-items-center p-0 ">
			<div class="w-100">
				<img class="img-fluid rounded-2" src="{{ .image }}" alt="Image Description">
			</div>
		</div>
            <div class="card-footer text-center py-4">
              <h3 class="mb-1">{{ .name }}</h3>
              <span class="d-block text-muted font-size-1 mb-3">{{ .description }}</span>
              <a class="btn btn-sm btn-outline-dark rounded-pill px-5" href="{{.cat_url}}">View All</a>
            </div>
          </div>
	<!-- End Card -->
</div>
