


<div class="col mb-4 size-item filter {{ .data_filter_tags }}" data-product-name="{{ .name }}">
	<div class="card card-bordered shadow-none text-center h-100">
   <a href="{{.Site.BaseURL | absURL}}/shop/categories/{{.cat_url}}/{{.product_url}}/"><img class="card-img-top" src="/images/products/{{.cat_url}}/{{.image}}" alt="Image Description"></a>


  <div class="card-body pt-4 px-4 pb-0">
    <div class="mb-2"> <a class="d-inline-block text-body small font-weight-bold mb-1 text-decoration-none" href="{{.Site.BaseURL | absURL}}/shop/categories/{{.cat_url}}/">{{ .cat }}</a> <span class="d-block font-size-1"> <a class="text-inherit text-decoration-none" href="{{.Site.BaseURL | absURL}}/shop/categories/{{.cat_url}}/{{.product_url}}/">{{ .name }}</a> </span>
      <div class="d-block"> <span class="text-dark font-weight-bold">£{{ .price }}</span> </div>
    </div>
  </div>
  <div class="card-footer border-0 p-0 pb-4 bg-white">
	  <span class="d-block font-size-1 pb-2"><a href="{{.Site.BaseURL | absURL}}/shop/categories/{{.cat_url}}/{{.product_url}}/" class="btn-link py-3 text-decoration-none text-inherit">View Details</a></span>
	  

   {{- partial "add-to-cart-button-small.html" . -}} 
	 
  </div>
</div>
</div>



