<div class="pe-lg-4">
	<div class="position-relative">

		
		
		<!-- Main Slider -->
		<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
			<div class="carousel-inner">
				
				{{ range $.Param.Page "slider_images" }}
				
				<div class="carousel-item active rounded-4">
					<picture>
						<source srcset="{{ .Site.BaseURL }}{{ .url }}.webp" type="image/webp">
						<source srcset="{{ .Site.BaseURL }}{{ .url }}.jpg" type="image/jpeg"> 
						<img src="{{ .Site.BaseURL }}{{ .url }}.jpg" alt="{{ .alt_text }}" class="d-block w-100">
					</picture>
				</div>
				
				{{ end }}
				
				
				<div class="carousel-item active rounded-4">
					<picture>
						<source srcset="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience-reading-humos.webp" type="image/webp">
						<source srcset="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience-reading-humos.jpg" type="image/jpeg"> 
						<img src="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience-reading-humos.jpg" alt="Alt Text!" class="d-block w-100">
					</picture>
				</div>
				<div class="carousel-item rounded-4">
					<picture>
						<source srcset="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience-reading-humos-08.webp" type="image/webp">
						<source srcset="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience/fragrance-blending-experience-reading-humos-08.jpg" type="image/jpeg"> 
						<img src="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience/fragrance-blending-experience-reading-humos-08.jpg" alt="Alt Text!" class="d-block w-100">
					</picture>
				</div>
				<div class="carousel-item rounded-4">
					<picture>
						<source srcset="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience-reading-humos-12.webp" type="image/webp">
						<source srcset="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience/fragrance-blending-experience-reading-humos-12.jpg" type="image/jpeg"> 
						<img src="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience/fragrance-blending-experience-reading-humos-12.jpg" alt="Alt Text!" class="d-block w-100">
					</picture>
				</div>
				<div class="carousel-item rounded-4">
					<picture>
						<source srcset="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience-reading-humos-06.webp" type="image/webp">
						<source srcset="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience/fragrance-blending-experience-reading-humos-06.jpg" type="image/jpeg"> 
						<img src="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience/fragrance-blending-experience-reading-humos-06.jpg" alt="Alt Text!" class="d-block w-100">
					</picture>
				</div>
				<div class="carousel-item rounded-4">
					<picture>
						<source srcset="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience-reading-humos-10.webp" type="image/webp">
						<source srcset="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience/fragrance-blending-experience-reading-humos-10.jpg" type="image/jpeg"> 
						<img src="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience/fragrance-blending-experience-reading-humos-10.jpg" alt="Alt Text!" class="d-block w-100">
					</picture>
				</div>
				<div class="carousel-item rounded-4">
					<picture>
						<source srcset="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience-reading-humos-11.webp" type="image/webp">
						<source srcset="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience/fragrance-blending-experience-reading-humos-11.jpg" type="image/jpeg"> 
						<img src="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience/fragrance-blending-experience-reading-humos-11.jpg" alt="Alt Text!" class="d-block w-100">
					</picture>
				</div>
				<div class="carousel-item rounded-4">
					<picture>
						<source srcset="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience-reading-humos-13.webp" type="image/webp">
						<source srcset="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience/fragrance-blending-experience-reading-humos-13.jpg" type="image/jpeg"> 
						<img src="{{ .Site.BaseURL }}/images/experiences/fragrance-blending-experience/fragrance-blending-experience/fragrance-blending-experience-reading-humos-13.jpg" alt="Alt Text!" class="d-block w-100">
					</picture>
				</div>
			</div>
			
			<button class="carousel-control-prev text-black-50" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<i class="fal fa-arrow-circle-left fa-3x"></i>
			</button>
			
			<button class="carousel-control-next text-black-50 " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<i class="fal fa-arrow-circle-right fa-3x"></i>
			</button>
		</div>
        <!-- End Main Slider -->
	</div>
</div>