<nav class="navbar navbar-expand-xl navbar-light bg-white">
  <div class="container">
  	{{ if eq .Site.Language.Lang "en"}}
    <a class="navbar-brand" href="/">
      <img src="/images/logo.svg" alt="logo" height="30" class="d-inline-block align-text-top">
    </a>
{{ else }}
<a class="navbar-brand" href="/es">
      <img src="/images/logo.svg" alt="logo" height="30" class="d-inline-block align-text-top">
    </a>
{{ end }}
    <div class="d-flex flex-row align-items-center justify-content-end">
	<span class="mr-3 fs-2">  
        {{ $siteLanguages := site.Languages}}
{{ $pageLang := .Page.Lang}}
{{- range .Page.AllTranslations }}
    {{ $translation := . }}
    {{- range sort $siteLanguages "Weight" "asc" }}
        {{- if eq $translation.Lang .Lang }}
            {{ if eq $pageLang .Lang}}
                <a class="flagselect text-decoration-none text-warning" href="{{ $translation.Permalink | relURL }}">{{ .Params.languageNameShort }}</a>
            {{ else }}
               <a class="flagnoselect text-decoration-none text-dark" href="{{ $translation.Permalink | relURL }}">{{ .Params.languageNameShort }}</a>
            {{ end }}
        {{- end }}
    {{- end }}
{{- end }}
</span>

<button type="button" class="btn snipcart-customer-signin shadow-none px-2">
      <i class="fal fa-user-circle fa-2x "></i>
	  </button>	  
<button type="button" class="btn shadow-none px-0">
      <i class="fal fa-shopping-bag fa-2x snipcart-checkout"></i>
   <span class="badge badge-cart bg-warning rounded-pill snipcart-items-count snipcart-checkout"></span>
</button>
<button type="button" class="btn shadow-none d-xl-none px-0" data-bs-toggle="collapse" data-bs-target="#navbarScroll">
     <i class="fal fa-bars fa-2x"></i>

</button>	  


	  </div>
  </div>
</nav>

{{ if eq .Site.Language.Lang "en"}}
<nav class="navbar navbar-expand-lg navbar-light bg-white border-top border-warning shadow-none">
  <div class="container">
	  <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0  py-2 justify-content-between w-100">
		  <li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Shop Online</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
					  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
						  <div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Home Fragrances</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Reed Diffusers</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Home Spray / Room Fragrance</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Candles</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Blended  Oils</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Custom home fragrances</a></li>
							  </ul>
						  </div>
						  <div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Candles</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Glass Candles</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Concrete Candles</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Crystal Candles</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Aromatherapy Candles</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Custom candle</a></li>
							  </ul>
						  </div>
<div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Bath and Body</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Bath and Body</a></li>
</ul>
						  </div>
						  <div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Shop by Benefit</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Calming</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Stress Reducing</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Energy Boosting</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Mood Enhancing</a></li>
								 
							  </ul>
						  </div>
					
					  </div>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>
<li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Fragrances</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
					  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
						  <div class="col mb-3">
							 
							  <ul class="list-group list-group-flush">
								  
								   <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}bespoke-fragrance-design-and-creation-experience/" class="stretched-link text-dark">Bespoke Design & Creation Experience</a></li>
								  
								  
								  <li class="list-group-item list-group-item-action ps-0">Triplex</li>
								
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}commission-a-fragrance/" class="stretched-link text-dark">Commissions</a></li>
								  <li class="list-group-item list-group-item-action ps-0">Re-order My Fragrances </li>
								 
							  </ul>
						  </div>
					
					  </div>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>
		  <li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Experiences & Workshops</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
					  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
						  <div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Fragrance making Experiences </p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}perfume-fragrance-blending-experience-reading/" class="stretched-link text-dark">Fragrance Making Experience</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}open-fragrance-perfume-making-experience-reading/" class="stretched-link text-dark">Open Fragrance Workshop</a></li>
								  
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}private-group-fragrance-perfume-making-experience-reading/" class="stretched-link text-dark">Private Group Fragrance Workshop</a></li>

							  </ul>
						  </div>
						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Home Fragrance making Experiences </p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0">Reed Diffuser & Home spray Making</li>
								   <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}open-home-fragrance-workshop-experience-reading/" class="stretched-link text-dark">Open home fragrance Workshop</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}private-group-home-fragrance-making-workshop-experience-reading/" class="stretched-link text-dark">Private Group home Fragrance Workshop</a></li>
								
							  </ul>
						  </div>
						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Candle Making Workshops</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}candle-making-experience-workshop-reading/" class="stretched-link text-dark">Open Candle Making Workshop</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}private-group-candle-making-workshop-experience-reading/" class="stretched-link text-dark">Private Group candle making Workshop</a></li>
							  </ul>
						  </div>
						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Re-order your blend</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0">Re-order a fragrance blend</li>
								  <li class="list-group-item list-group-item-action ps-0">Re-order a candle blend</li>
								  <li class="list-group-item list-group-item-action ps-0">Re-order a Reed Diffuser/Room Mist blend</li>
							  </ul>
						  </div>
					  </div>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>
<li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Bespoke & Commissions</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
					  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
						  <div class="col mb-3">
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}perfume-fragrance-blending-experience-reading/" class="stretched-link text-dark">Bespoke & Commissions</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}open-fragrance-perfume-making-experience-reading/" class="stretched-link text-dark">Triplex Bespoke Fragrance</a></li>
							  </ul>
						  </div>

					  </div>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>
<li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Spa</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
					  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
						  <div class="col mb-3">
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}perfume-fragrance-blending-experience-reading/" class="stretched-link text-dark">Aromachology Therapy</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}aromatherapy-massage-and-treatments-in-reading/" class="stretched-link text-dark">Aromatherapy Treatments</a></li>
								  
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}private-group-fragrance-perfume-making-experience-reading/" class="stretched-link text-dark">Treatment Packages</a></li>
							  </ul>
						  </div>
					  </div>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>
<li class="nav-item">
					<a class="nav-link text-uppercase text-dark" href="/gifts/">
						Gifts
					</a>
				</li>
<li class="nav-item">
					<a class="nav-link text-uppercase text-dark" href="/events-and-parties/">
						Events & parties
					</a>
				</li>
      </ul>
    </div>
  </div>
</nav>

{{ else }}

<nav class="navbar navbar-expand-lg navbar-light bg-white border-top border-warning shadow-none">
  <div class="container">
	  <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0  py-2 justify-content-between w-100">
		  <li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Tienda</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
					  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
						  <div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Fragancias para el hogar</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Reed Diffusers</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Home Spray / Room Fragrance</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Candles</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Blended  Oils</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Custom home fragrances</a></li>
							  </ul>
						  </div>
						  <div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Velas</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Glass Candles</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Concrete Candles</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Crystal Candles</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Aromatherapy Candles</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Custom candle</a></li>
							  </ul>
						  </div>
<div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Baño y cuerpo</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Bath and Body</a></li>
</ul>
						  </div>
						  <div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Comprar por beneficio</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/room-mists/" class="stretched-link text-dark">Calming</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Stress Reducing</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Energy Boosting</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}shop/categories/essential-oil-blends/" class="stretched-link text-dark">Mood Enhancing</a></li>
								 
							  </ul>
						  </div>
					
					  </div>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>
<li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Fragancias</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
					  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
						  <div class="col mb-3">
							 
							  <ul class="list-group list-group-flush">
								  
								   <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}bespoke-fragrance-design-and-creation-experience/" class="stretched-link text-dark">Bespoke Design & Creation Experience</a></li>
								  
								  
								  <li class="list-group-item list-group-item-action ps-0">Triplex</li>
								
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}commission-a-fragrance/" class="stretched-link text-dark">Commissions</a></li>
								  <li class="list-group-item list-group-item-action ps-0">Re-order My Fragrances </li>
								 
							  </ul>
						  </div>
					
					  </div>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>
		  <li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Experiencias y talleres</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
					  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
						  <div class="col mb-3">
							  <p class="text-uppercase fw-bold fs-6 mb-0">Fragrance making Experiences </p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}perfume-fragrance-blending-experience-reading/" class="stretched-link text-dark">Fragrance Making Experience</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}open-fragrance-perfume-making-experience-reading/" class="stretched-link text-dark">Open Fragrance Workshop</a></li>
								  
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}private-group-fragrance-perfume-making-experience-reading/" class="stretched-link text-dark">Private Group Fragrance Workshop</a></li>

							  </ul>
						  </div>
						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Home Fragrance making Experiences </p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0">Reed Diffuser & Home spray Making</li>
								   <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}open-home-fragrance-workshop-experience-reading/" class="stretched-link text-dark">Open home fragrance Workshop</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}private-group-home-fragrance-making-workshop-experience-reading/" class="stretched-link text-dark">Private Group home Fragrance Workshop</a></li>
								
							  </ul>
						  </div>
						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Candle Making Workshops</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}candle-making-experience-workshop-reading/" class="stretched-link text-dark">Open Candle Making Workshop</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}private-group-candle-making-workshop-experience-reading/" class="stretched-link text-dark">Private Group candle making Workshop</a></li>
							  </ul>
						  </div>
						  <div class="col mb-3">
						   <p class="text-uppercase fw-bold fs-6 mb-0">Re-order your blend</p>
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0">Re-order a fragrance blend</li>
								  <li class="list-group-item list-group-item-action ps-0">Re-order a candle blend</li>
								  <li class="list-group-item list-group-item-action ps-0">Re-order a Reed Diffuser/Room Mist blend</li>
							  </ul>
						  </div>
					  </div>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>
<li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">A medida y comisiones</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
					  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
						  <div class="col mb-3">
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}perfume-fragrance-blending-experience-reading/" class="stretched-link text-dark">Bespoke & Commissions</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}open-fragrance-perfume-making-experience-reading/" class="stretched-link text-dark">Triplex Bespoke Fragrance</a></li>
							  </ul>
						  </div>

					  </div>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>
<li class="nav-item dropdown has-megamenu">
			  <a class="nav-link dropdown-toggle text-dark text-uppercase" href="#" data-bs-toggle="dropdown">Spa</a>
			  <div class="dropdown-menu megamenu" role="menu">
				  <div class="container">
					  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
						  <div class="col mb-3">
							  <ul class="list-group list-group-flush">
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}perfume-fragrance-blending-experience-reading/" class="stretched-link text-dark">Aromachology Therapy</a></li>
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}aromaterapia-masajes-y-tratamientos-en-madrid/" class="stretched-link text-dark">Tratamientos de aromaterapia</a></li>
								  
								  <li class="list-group-item list-group-item-action ps-0"><a href="{{.Site.BaseURL | absURL}}private-group-fragrance-perfume-making-experience-reading/" class="stretched-link text-dark">Treatment Packages</a></li>
							  </ul>
						  </div>
					  </div>
				  </div> 
			  </div> <!-- dropdown-mega-menu.// -->
		  </li>
<li class="nav-item">
					<a class="nav-link text-uppercase text-dark" href="/gifts/">
						Regalos 
					</a>
				</li>
<li class="nav-item">
					<a class="nav-link text-uppercase text-dark" href="/events-and-parties/">
						Eventos y fiestas
					</a>
				</li>
      </ul>
    </div>
  </div>
</nav>
{{ end }}



