<div class="container space-bottom-3 space-top-lg-3">
	<div class="row">
		<div class="col-lg-8 mx-auto text-center space-1 space-lg-2">
			<h3 class="mb-4">How to Use</h3>
		
			{{ if eq .cat "Room Mists" }}
				<p>Aim away from face and other people. Spray 2-3 times in different directions and allow to settle.</p>
			{{ end }}

		</div>
	</div>
	
	<div class="row ">
		<div class="col-lg-8 mx-auto text-center space-1 space-lg-2">
			<h3 class="mb-4">Ingredients and Safety information</h3>
			<p class="small">Safety: Keep out of reach of children and pets. Do not ingest. Do not spray near or over naked flames. In case of contact with skin, rinse immediately with water. In case of contact with eyes, rinse immediately and seek medical attention.</p>
			<p class="small">Ingredients: {{ .ingredients }}. Allergens: *Derived naturally from essential oil. </p>
		</div>
	</div>
</div>