<div class="pe-lg-4">
	<div class="position-relative">
		<!-- Main Slider -->
		<div id="carouselExampleIndicators" class="carousel" data-bs-ride="carousel">
			<div class="carousel-inner card">
				<div class="carousel-item active">
					<img src="/images/products/{{.cat_url}}/{{.image}}" class="d-block w-100" alt="...">
				</div>
			</div>
			
			<button class="carousel-control-prev text-black-50" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<i class="fal fa-arrow-circle-left fa-3x"></i>
			</button>
			
			<button class="carousel-control-next text-black-50 " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<i class="fal fa-arrow-circle-right fa-3x"></i>
			</button>
		</div>
        <!-- End Main Slider -->
	</div>
</div>