<div class="border rounded-lg py-2 px-3 mb-3">
	<div class="d-flex row align-items-center">
		<div class="col-7">
			<small class="d-block text-body font-weight-bold">Select quantity</small>
			<input type="text" id="productQtyMain" class="product-qty-input js-result form-control h-auto border-0 rounded-lg p-0" value="1">
		</div>
		<div class="col-5 text-end">
			<a class="js-minus btn btn-xs btn-icon btn-outline-secondary rounded-circle" href="javascript:;">
				<i class="fas fa-minus"></i>
			</a>
			<a class="js-plus btn btn-xs btn-icon btn-outline-secondary rounded-circle" href="javascript:;">
				<i class="fas fa-plus"></i>
			</a>
		</div>
	</div>
</div>