<div class="media align-items-center">
	<div class="media-body text-body small">
		<i class="fad fa-comments-alt fa-lg"></i>
		<span class="font-weight-bold me-1">Need Help?</span>
		<a class="link-underline" href="#">Get in touch</a>
	</div>
</div>