<nav class="">
  <ol class="breadcrumb small">
	  
    <li class="breadcrumb-item"><a href="{{.Site.BaseURL | absURL}}/shop/categories/" class="text-inherit text-decoration-none">Shop</a></li>
	  <li class="breadcrumb-item"><a href="{{.Site.BaseURL | absURL}}/shop/categories/" class="text-inherit text-decoration-none">Categories</a></li>
	 
    <li class="breadcrumb-item"><a href="{{.Site.BaseURL | absURL}}/shop/categories/{{.cat_url}}/" class="text-inherit text-decoration-none">{{ .cat }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ .name }}</li>
  </ol>
</nav>