{{ $content_parts := split .Content "||||||||||" }} 

<!-- Product more info Section -->
<div id="productDetails" class="container">
  <div class="row justify-content-lg-between align-items-lg-center">
    <div class="col-lg-5 space-1 space-lg-2"> {{ index $content_parts 0 | safeHTML }} </div>
    <div class="col-lg-6">
      <div class="bg-img-hero-center h-100 min-h-450rem rounded-4" style="background-image: url({{.Params.More_details_image_1}});"></div>
    </div>
  </div>
  <div class="row justify-content-lg-between align-items-lg-center space-top-1 space-top-lg-3">
    <div class="col-lg-5 order-lg-2 space-1 space-lg-2"> {{ index $content_parts 1 | safeHTML  }} </div>
    <div class="col-lg-6 order-lg-1"> {{ if .Params.More_details_image_2 }}
      <div class="bg-img-hero-center h-100 min-h-450rem rounded-4" style="background-image: url({{.Params.More_details_image_2}});"></div>
      {{ else }}
      <div class="bg-img-hero-center h-100 min-h-450rem rounded-4" style="background-image: url(/images/room-mist-feature-image.jpg);"></div>
      {{end}} </div>
  </div>
<!-- if has a therapeutic benefits section, add this from SSG -->	
  {{ if index $content_parts 2 }}
	<!-- therapeutic benefits partical section -->
  {{- partial "therapeutic-benefits.html" . -}}
  {{ end }}
   </div>
<!-- End Product more info Section -->