<div id="mainAddToCartButton" class="d-grid mb-4">
		<button class="snipcart-add-item btn btn-lg btn-dark rounded-pill py-3" type="button" 
				data-item-id="{{ .id }}"
				data-item-price="{{ .price }}"
				data-item-url="/paintings/starry-night"
				data-item-description="{{ .short_description }}"
				data-item-image="{{.Site.BaseURL | absURL}}images/products/{{.cat_url}}/{{ .image }}"
				data-item-name="{{ .name }} - {{ .size }}"
				data-item-quantity="1">
			Add to Cart
		</button>	
	</div>


