{{ $content_parts := split .Content "||||||||||" }} 
<div class="row justify-content-lg-between align-items-lg-center space-top-1 space-top-lg-3">
    <div class="col-lg-5 space-1 space-lg-2 mx-auto"> {{ index $content_parts 2 | safeHTML }} </div>
    <div class="col-lg-6">
		
		{{ if .Params.More_details_image_3 }}
      <div class="bg-img-hero-center h-100 min-h-450rem rounded-4" style="background-image: url({{.Params.More_details_image_3}});"></div>
      {{ else }}
      <div class="bg-img-hero-center h-100 min-h-450rem rounded-4" style="background-image: url(/images/essential-oil-therapeutic-benefits-feature-750x750.jpg);"></div>
      {{end}}
      
    </div>
  </div>