---
title: "Events and Parties"
description: "Events and Parties"
layout: "page"
---
  <!-- Hero Section -->
    <div class="container space-top-1 space-top-lg-2 space-bottom-lg-2 space-bottom-2">
    
    
    
    
    
      <!-- Title -->
      <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-md-9">
        <h1>Experience a completely unique and scent-filled party or event.</h1>
      </div>
      <!-- End Title -->

      <div class="row justify-content-center d-none">
        <div class="col-md-4 align-self-md-end mb-3 mb-md-0">
          <img class="img-fluid rounded-4" src="images/perfume-party-event-reading.jpg" alt="Image Description">
        </div>

        <div class="col-md-6 ms-md-4">
          <div class="ml-lg-4">
            <img class="img-fluid rounded-4" src="images/perfume-party-reading-berkshire.jpg" alt="Image Description">
          </div>
        </div>
      </div>
    </div>

 <!-- Divider -->
    <div class="container">
      <div class="w-lg-65 mx-lg-auto">
        <hr class="my-0">
      </div>
    </div>

<!-- Product Review Section -->
<div class="container space-2">
  <div class="row justify-content-lg-between align-items-lg-center">
    <div class="col-lg-5 space-1 space-lg-2">
       <h3 class="mb-4">Impress your guests with a unique location and experience for your private function, party or event.</h3>
      
    
  <p>A private party or event opens our Atelier and showroom to you and your guests to explore one of our fragrance making experiences.</p>
    <p>Your group will be in their own private area with the creation experience lead by our head perfumer.</p>

    </div>

    <div class="col-lg-6">
      <div class="bg-img-hero-center h-100 min-h-450rem rounded-4" style="background-image: url( images/perfume-party-reading-berkshire.jpg);"></div>
    </div>
  </div>

  <div class="row justify-content-lg-between align-items-lg-center space-top-1 space-top-lg-3">
    <div class="col-lg-5 order-lg-2 space-1 space-lg-2">
      <h3 class="mb-4">Planning a Wedding? Say 'I Do' to our range of wedding events and products.</h3>
      <p>A private party or event opens our Atelier and showroom to your guests during one of our many experiences including where your guests can blend either a bespoke perfume of their own creation, a custom candle or a home perfumery piece such as a bespoke reed diffuser or room mist</p>
      <p>Make your special day that much more special with a custom designed personal fragrance or fragrance gifts for attendees..</p>
    </div>

    <div class="col-lg-6 order-lg-1">
      <div class="bg-img-hero-center h-100 min-h-450rem rounded-4" style="background-image: url( images/perfume-party-reading-berkshire.jpg);"></div>
    </div>
  </div>
</div>
<!-- End Product Review Section -->

    <!-- End Divider -->
<div class="container space-top-2">
  <div class="row">
    <div class="col-lg-3 col-xl-3 mx-auto ">
      <h3 class="d-none">Party and event options</h3>
  <div class="nav flex-column nav-pills me-3 border-gold border rounded-4 p-3 w-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active text-start" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" >Private parties</button>
    <button class="nav-link text-start" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" >Wedding events</button>
    <button class="nav-link text-start" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" >Team building events</button>
    <button class="nav-link text-start" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" >Settings</button>
    
  </div>
      <button class="w-100 btn btn-dark rounded-4 mt-3 p-3"  type="button" role="tab" >BOOK</button>
    </div>
    <div class="col-lg-8 col-xl-8 offset-xl-1">
      <div class="tab-content" id="v-pills-tabContent">
        
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" >
          <div class="row">
            <div class="col-12">
              <h2 class="mb-3 ">Private parties and events</h2>
              <p class="lead">Impress your guests with a unique location and experience for your private function or party.</p>

<p>A private party or event opens our Atelier and showroom to your guests during one of our many experiences including where your guests can blend either a bespoke perfume of their own creation, a custom candle or a home perfumery piece such as a bespoke reed diffuser or room mist.
  </p>

<p>Your group will be in their own private area with the private experience lead by our head perfumer.</p>

<p>All equipment and materials are included as part of your private fragrance party or event but pricing varies depending on the number of guests and which experience you will be partaking in. Please contact us for a quote.</p>

            </div>
        
    </div>
    </div>
        
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" >
    <div class="row">
      <div class="col-12">
        <h2>Wedding Events</h2>
        <p>Make your special day that much more special with a custom designed personal fragrance or fragrance gifts for attendees.</p>
      </div>
    </div>
        </div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" >
    <div class="row">
      <div class="col-12">
        <h2>Team Building Events</h2>
        <p>Through the unique medium of scent we help to bring together your staff with a bespoke scent creation workshop. This fun and creative event will help form an emotional connection between your staff and organisation, building a more resilient team.
          </p>
        <p>Each team member will learn and work both individually and part of a team whist they craft their very own unique personal fragrance, home fragrance or candle. They will make decisive decisions that impact their final product as well as taking responsibility for their entire creation from start to finish.
          </p>
      </div>
    </div>
        </div>
    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" >...</div>
  </div>
    
    </div>
  </div>
  
  
</div>



<!-- Features Section -->
<div class="overflow-hidden">
  <div class="container space-2">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <h2>Features built for scale</h2>
      <p>Get insights to dig down into what's powering your growth the most.</p>
    </div>
    <!-- End Title -->

    <div class="row">
      <div class="col-lg-8 mb-7 mb-lg-0">
        <div class="row">
          <div class="col-sm-6 mb-3 mb-sm-7">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              
        <i class="fal fa-flask-potion fa-2x text-gold me-2"></i>
          <i class="fal fa-balance-scale fa-2x text-gold"></i>
           <h3 class="h4">Equipment and materials</h3>
        
             
              <p class="text-body">All equipments and materials are included for parties and events.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-6 mb-3 mb-sm-7">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="max-w-6rem w-100 mb-4">
                <img class="img-fluid" src="../assets/svg/icons/icon-1.svg" alt="SVG">
              </figure>
              <h4>Control Center</h4>
              <p class="text-body">Now that we've aligned the details, it's time to get things mapped out and organized.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-6 mb-3 mb-sm-0">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="max-w-6rem w-100 mb-4">
                <img class="img-fluid" src="../assets/svg/icons/icon-15.svg" alt="SVG">
              </figure>
              <h4>Email Reports</h4>
              <p class="text-body">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>

          <div class="col-sm-6 mb-sm-0">
            <!-- Icon Blocks -->
            <div class="pr-lg-6">
              <figure class="max-w-6rem w-100 mb-4">
                <img class="img-fluid" src="../assets/svg/icons/icon-26.svg" alt="SVG">
              </figure>
              <h4>Forecasting</h4>
              <p class="text-body">Staying focused allows us to turn every project we complete into something we love.</p>
            </div>
            <!-- End Icon Blocks -->
          </div>
        </div>
      </div>

      <div class="col-sm-8 col-md-6 col-lg-4">
        <!-- Article -->
        <article class="position-relative">
          <a class="card shadow-none bg-img-hero w-100 min-h-450rem transition-3d-hover" href="#" style="background-image: url(../assets/img/400x500/img26.jpg);">
            <div class="card-body">
              <h4>Adobe Ai</h4>
              <p class="text-body">Access to the Adobe Illustrator techniques</p>
            </div>
            <div class="card-footer border-0 bg-transparent pt-0">
              <span class="font-weight-bold">Browse tools <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </div>
          </a>

          <!-- SVG Elements -->
          <figure class="max-w-19rem w-100 position-absolute bottom-0 right-0 z-index-n1">
            <div class="mb-n7 mr-n7">
              <img class="img-fluid" src="../assets/svg/components/dots-2.svg" alt="Image Description">
            </div>
          </figure>
          <!-- End SVG Elements -->
        </article>
        <!-- End Article -->
      </div>
    </div>
  </div>
</div>
<!-- End Features Section -->